<template>
    <todo-list :tasks="completeTasks" @edit-task="$emit('edit-task', $event)"/>
</template>

<script>
    import TodoList from '~/apps/todo/components/TodoList'
    import {mapGetters} from 'vuex'


    export default {
        components: {
            TodoList
        },
        computed: {
            ...mapGetters('todo-app', ['completeTasks'])
        }
    }
</script>
