<template>
    <todo-list :tasks="labelTasks" @edit-task="$emit('edit-task', $event)"/>
</template>

<script>
    import TodoList from '~/apps/todo/components/TodoList'
    import {mapState} from 'vuex'

    export default {
        components: {
            TodoList
        },
        computed: {
            ...mapState('todo-app', ['tasks']),
            labelTasks() {
                return this.tasks
                    .filter((t) => t.labels.indexOf(this.$route.params.id) !== -1)
                    .sort((a, b) => a === false ? 1 : -1)
            }
        }
    }
</script>
