<template>
    <div v-if="showChart">
        <apexchart :options="chartOptions" :series="series" height="350" type="line"></apexchart>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                showChart: false,
                series: [{
                    name: 'Desktops',
                    data: [10, 41, 35, 51, 49, 62, 69, 91, 148]
                }],
                chartOptions: {
                    chart: {
                        height: 350,
                        type: 'line',
                        zoom: {
                            enabled: false
                        }
                    },
                    dataLabels: {
                        enabled: false
                    },
                    stroke: {
                        curve: 'smooth'
                    },
                    title: {
                        text: 'Product Trends by Month',
                        align: 'left'
                    },
                    grid: {
                        row: {
                            colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                            opacity: 0.5
                        }
                    },
                    xaxis: {
                        categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep']
                    }
                }
            }
        },
        mounted() {
            this.showChart = true
        }
    }
</script>
