<template>
    <div v-if="showChart">
        <apexchart
            :options="chartOptions"
            :series="series"
            type="donut"
            width="480"
        ></apexchart>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                showChart: false,
                series: [44, 55, 41, 17, 15],
                chartOptions: {
                    chart: {
                        type: 'donut'
                    },
                    responsive: [{
                        breakpoint: 480,
                        options: {
                            chart: {
                                width: 200
                            },
                            legend: {
                                position: 'bottom'
                            }
                        }
                    }]
                }
            }
        },
        mounted() {
            this.showChart = true
        }
    }
</script>
