<template>
    <div v-if="showChart">
        <apexchart :options="chartOptions" :series="series" height="350" type="radialBar"></apexchart>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                showChart: false,
                series: [44, 55, 67, 83],
                chartOptions: {
                    chart: {
                        height: 350,
                        type: 'radialBar'
                    },
                    plotOptions: {
                        radialBar: {
                            dataLabels: {
                                name: {
                                    fontSize: '22px'
                                },
                                value: {
                                    fontSize: '16px'
                                },
                                total: {
                                    show: true,
                                    label: 'Total',
                                    formatter: function (w) {
                                        // By default this function returns the average of all series. The below is just an example to show the use of custom formatter function
                                        return 249
                                    }
                                }
                            }
                        }
                    },
                    labels: ['Apples', 'Oranges', 'Bananas', 'Berries']
                }
            }
        },
        mounted() {
            this.showChart = true
        }
    }
</script>
