<template>
    <v-row align="center">
        <v-col class="text-center" cols="12" sm="4">
            <div class="my-2">
                <v-btn depressed small>Normal</v-btn>
            </div>
            <div class="my-2">
                <v-btn color="primary" depressed small>Primary</v-btn>
            </div>
            <div class="my-2">
                <v-btn color="error" depressed small>Error</v-btn>
            </div>
            <div class="my-2">
                <v-btn depressed disabled small>Disabled</v-btn>
            </div>
        </v-col>

        <v-col class="text-center" cols="12" sm="4">
            <div class="my-2">
                <v-btn depressed>Normal</v-btn>
            </div>
            <div class="my-2">
                <v-btn color="primary" depressed>Primary</v-btn>
            </div>
            <div class="my-2">
                <v-btn color="error" depressed>Error</v-btn>
            </div>
            <div class="my-2">
                <v-btn depressed disabled>Disabled</v-btn>
            </div>
        </v-col>

        <v-col class="text-center" cols="12" sm="4">
            <div class="my-2">
                <v-btn depressed large>Normal</v-btn>
            </div>
            <div class="my-2">
                <v-btn color="primary" depressed large>Primary</v-btn>
            </div>
            <div class="my-2">
                <v-btn color="error" depressed large>Error</v-btn>
            </div>
            <div class="my-2">
                <v-btn depressed disabled large>Disabled</v-btn>
            </div>
        </v-col>
    </v-row>
</template>
