<template>
    <v-container id="dropdown-example">
        <v-row>
            <v-col cols="12" sm="4">
                <p>Overflow</p>

                <v-overflow-btn
                    :items="dropdown_font"
                    class="my-2"
                    label="Overflow Btn"
                    target="#dropdown-example"
                ></v-overflow-btn>
            </v-col>

            <v-col cols="12" sm="4">
                <p>Segmented</p>

                <v-overflow-btn
                    :items="dropdown_icon"
                    class="my-2"
                    label="Segmented Btn"
                    segmented
                    target="#dropdown-example"
                ></v-overflow-btn>
            </v-col>

            <v-col cols="12" sm="4">
                <p>Editable</p>

                <v-overflow-btn
                    :items="dropdown_edit"
                    class="my-2"
                    editable
                    item-value="text"
                    label="Editable Btn"
                ></v-overflow-btn>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    export default {
        data: () => ({
            dropdown_font: ['Arial', 'Calibri', 'Courier', 'Verdana'],
            dropdown_icon: [
                {text: 'list', callback: () => console.log('list')},
                {text: 'favorite', callback: () => console.log('favorite')},
                {text: 'delete', callback: () => console.log('delete')}
            ],
            dropdown_edit: [
                {text: '100%'},
                {text: '75%'},
                {text: '50%'},
                {text: '25%'},
                {text: '0%'}
            ]
        })
    }
</script>
