<template>
    <v-card flat>
        <v-card-text>
            <v-container class="pa-0" fluid>
                <v-row>
                    <v-col cols="12">
                        <p>Normal</p>
                    </v-col>

                    <v-col cols="12" sm="3">
                        <v-btn color="pink" icon>
                            <v-icon>mdi-heart</v-icon>
                        </v-btn>
                    </v-col>

                    <v-col cols="12" sm="3">
                        <v-btn color="indigo" icon>
                            <v-icon>mdi-star</v-icon>
                        </v-btn>
                    </v-col>

                    <v-col cols="12" sm="3">
                        <v-btn color="green" icon>
                            <v-icon>mdi-cached</v-icon>
                        </v-btn>
                    </v-col>

                    <v-col cols="12" sm="3">
                        <v-btn color="deep-orange" icon>
                            <v-icon>mdi-thumb-up</v-icon>
                        </v-btn>
                    </v-col>
                </v-row>

                <v-row class="mt-12">
                    <v-col cols="12">
                        <p>Disabled</p>
                    </v-col>

                    <v-col cols="12" sm="3">
                        <v-btn disabled icon>
                            <v-icon>mdi-heart</v-icon>
                        </v-btn>
                    </v-col>

                    <v-col cols="12" sm="3">
                        <v-btn disabled icon>
                            <v-icon>mdi-star</v-icon>
                        </v-btn>
                    </v-col>

                    <v-col cols="12" sm="3">
                        <v-btn disabled icon>
                            <v-icon>mdi-cached</v-icon>
                        </v-btn>
                    </v-col>

                    <v-col cols="12" sm="3">
                        <v-btn disabled icon>
                            <v-icon>mdi-thumb-up</v-icon>
                        </v-btn>
                    </v-col>
                </v-row>
            </v-container>
        </v-card-text>
    </v-card>
</template>
