<template>
    <div class="text-center">
        <v-btn class="ma-2" color="indigo" outlined>Outlined Button</v-btn>
        <v-btn class="ma-2" color="teal" fab outlined>
            <v-icon>mdi-format-list-bulleted-square</v-icon>
        </v-btn>
        <v-btn
            class="ma-2"
            color="indigo"
            fab
            large
            outlined
        >
            <v-icon>mdi-pencil</v-icon>
        </v-btn>
    </div>
</template>
