<template>
    <v-row align="center">
        <v-col class="text-center" cols="12" sm="4">
            <div class="my-2">
                <v-btn small>Normal</v-btn>
            </div>
            <div class="my-2">
                <v-btn color="primary" small>Primary</v-btn>
            </div>
            <div class="my-2">
                <v-btn color="error" small>Error</v-btn>
            </div>
            <div class="my-2">
                <v-btn disabled small>Disabled</v-btn>
            </div>
        </v-col>
        <v-col class="text-center" cols="12" sm="4">
            <div class="my-2">
                <v-btn>Normal</v-btn>
            </div>
            <div class="my-2">
                <v-btn color="primary">Primary</v-btn>
            </div>
            <div class="my-2">
                <v-btn color="error">Error</v-btn>
            </div>
            <div class="my-2">
                <v-btn disabled>Disabled</v-btn>
            </div>
        </v-col>
        <v-col class="text-center" cols="12" sm="4">
            <div class="my-2">
                <v-btn large>Normal</v-btn>
            </div>
            <div class="my-2">
                <v-btn color="primary" large>Primary</v-btn>
            </div>
            <div class="my-2">
                <v-btn color="error" large>Error</v-btn>
            </div>
            <div class="my-2">
                <v-btn disabled large>Disabled</v-btn>
            </div>
        </v-col>
    </v-row>
</template>
