<template>
    <v-container class="pa-0" fluid>
        <v-row align="center">
            <v-col cols="12" sm="6">
                <div class="text-center">
                    <div class="my-2">
                        <v-btn color="secondary" dark x-small>Extra small Button</v-btn>
                    </div>
                    <div class="my-2">
                        <v-btn color="primary" dark small>Small Button</v-btn>
                    </div>
                    <div class="my-2">
                        <v-btn color="warning" dark>Normal Button</v-btn>
                    </div>
                    <div class="my-2">
                        <v-btn color="error" dark large>Large Button</v-btn>
                    </div>
                    <div class="my-2">
                        <v-btn color="success" dark x-large>Extra large Button</v-btn>
                    </div>
                </div>
            </v-col>
            <v-col cols="12" sm="6">
                <div class="text-center">
                    <div class="my-2">
                        <v-btn color="secondary" dark fab x-small>
                            <v-icon>mdi-television</v-icon>
                        </v-btn>
                    </div>
                    <div class="my-2">
                        <v-btn color="primary" dark fab small>
                            <v-icon>mdi-pencil</v-icon>
                        </v-btn>
                    </div>
                    <div class="my-2">
                        <v-btn color="warning" dark fab>
                            <v-icon>mdi-account-circle</v-icon>
                        </v-btn>
                    </div>
                    <div class="my-2">
                        <v-btn color="error" dark fab large>
                            <v-icon>mdi-alarm</v-icon>
                        </v-btn>
                    </div>
                    <div class="my-2">
                        <v-btn color="success" dark fab x-large>
                            <v-icon>mdi-domain</v-icon>
                        </v-btn>
                    </div>
                </div>
            </v-col>
        </v-row>
    </v-container>
</template>
