<template>
    <v-row align="center">
        <v-col class="text-center" cols="12" sm="4">
            <div class="my-2">
                <v-btn small text>Normal</v-btn>
            </div>
            <div class="my-2">
                <v-btn color="primary" small text>Primary</v-btn>
            </div>
            <div class="my-2">
                <v-btn color="error" small text>Error</v-btn>
            </div>
            <div class="my-2">
                <v-btn disabled small text>Disabled</v-btn>
            </div>
        </v-col>

        <v-col class="text-center" cols="12" sm="4">
            <div class="my-2">
                <v-btn text>Normal</v-btn>
            </div>
            <div class="my-2">
                <v-btn color="primary" text>Primary</v-btn>
            </div>
            <div class="my-2">
                <v-btn color="error" text>Error</v-btn>
            </div>
            <div class="my-2">
                <v-btn disabled text>Disabled</v-btn>
            </div>
        </v-col>

        <v-col class="text-center" cols="12" sm="4">
            <div class="my-2">
                <v-btn large text>Normal</v-btn>
            </div>
            <div class="my-2">
                <v-btn color="primary" large text>Primary</v-btn>
            </div>
            <div class="my-2">
                <v-btn color="error" large text>Error</v-btn>
            </div>
            <div class="my-2">
                <v-btn disabled large text>Disabled</v-btn>
            </div>
        </v-col>
    </v-row>
</template>
