<template>
    <div class="text-center">
        <v-btn class="ma-2" color="indigo" dark tile>Tile Button</v-btn>
        <v-btn class="ma-2" color="success" outlined tile>
            <v-icon left>mdi-pencil</v-icon>
            Edit
        </v-btn>
        <v-btn
            class="ma-2"
            color="teal"
            icon
            large
            tile
        >
            <v-icon>mdi-vuetify</v-icon>
        </v-btn>
    </div>
</template>
