<template>
    <v-expansion-panels>
        <v-expansion-panel>
            <v-expansion-panel-header>
                <template v-slot:default="{ open }">
                    <v-row no-gutters>
                        <v-col cols="4">Trip name</v-col>
                        <v-col
                            class="text--secondary"
                            cols="8"
                        >
                            <v-fade-transition leave-absolute>
                <span
                    v-if="open"
                    key="0"
                >
                  Enter a name for the trip
                </span>
                                <span
                                    v-else
                                    key="1"
                                >
                  {{ trip.name }}
                </span>
                            </v-fade-transition>
                        </v-col>
                    </v-row>
                </template>
            </v-expansion-panel-header>
            <v-expansion-panel-content>
                <v-text-field
                    v-model="trip.name"
                    placeholder="Caribbean Cruise"
                ></v-text-field>
            </v-expansion-panel-content>
        </v-expansion-panel>

        <v-expansion-panel>
            <v-expansion-panel-header v-slot="{ open }">
                <v-row no-gutters>
                    <v-col cols="4">Location</v-col>
                    <v-col
                        class="text--secondary"
                        cols="8"
                    >
                        <v-fade-transition leave-absolute>
              <span
                  v-if="open"
                  key="0"
              >
                Select trip destination
              </span>
                            <span
                                v-else
                                key="1"
                            >
                {{ trip.location }}
              </span>
                        </v-fade-transition>
                    </v-col>
                </v-row>
            </v-expansion-panel-header>
            <v-expansion-panel-content>
                <v-row no-gutters>
                    <v-spacer></v-spacer>
                    <v-col cols="5">
                        <v-select
                            v-model="trip.location"
                            :items="locations"
                            chips
                            flat
                            solo
                        ></v-select>
                    </v-col>

                    <v-divider
                        class="mx-4"
                        vertical
                    ></v-divider>

                    <v-col cols="3">
                        Select your destination of choice
                        <br>
                        <a href="javascript:void(0)">Learn more</a>
                    </v-col>
                </v-row>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                        color="secondary"
                        text
                    >
                        Cancel
                    </v-btn>
                    <v-btn
                        color="primary"
                        text
                    >
                        Save
                    </v-btn>
                </v-card-actions>
            </v-expansion-panel-content>
        </v-expansion-panel>

        <v-expansion-panel>
            <v-expansion-panel-header v-slot="{ open }">
                <v-row no-gutters>
                    <v-col cols="4">Start and end dates</v-col>
                    <v-col
                        class="text--secondary"
                        cols="8"
                    >
                        <v-fade-transition leave-absolute>
                            <span v-if="open">When do you want to travel?</span>
                            <v-row
                                v-else
                                no-gutters
                                style="width: 100%"
                            >
                                <v-col cols="6">Start date: {{ trip.start || 'Not set' }}</v-col>
                                <v-col cols="6">End date: {{ trip.end || 'Not set' }}</v-col>
                            </v-row>
                        </v-fade-transition>
                    </v-col>
                </v-row>
            </v-expansion-panel-header>
            <v-expansion-panel-content>
                <v-row
                    justify="space-around"
                    no-gutters
                >
                    <v-col cols="3">
                        <v-menu
                            ref="startMenu"
                            :close-on-content-click="false"
                            :return-value.sync="trip.start"
                            min-width="290px"
                            offset-y
                        >
                            <template v-slot:activator="{ on, attrs }">
                                <v-text-field
                                    v-model="trip.start"
                                    v-bind="attrs"
                                    v-on="on"
                                    label="Start date"
                                    prepend-icon="event"
                                    readonly
                                ></v-text-field>
                            </template>
                            <v-date-picker
                                v-model="date"
                                no-title
                                scrollable
                            >
                                <v-spacer></v-spacer>
                                <v-btn
                                    color="primary"
                                    text
                                    @click="$refs.startMenu.isActive = false"
                                >Cancel
                                </v-btn>
                                <v-btn
                                    color="primary"
                                    text
                                    @click="$refs.startMenu.save(date)"
                                >OK
                                </v-btn>
                            </v-date-picker>
                        </v-menu>
                    </v-col>

                    <v-col cols="3">
                        <v-menu
                            ref="endMenu"
                            :close-on-content-click="false"
                            :return-value.sync="trip.end"
                            min-width="290px"
                            offset-y
                        >
                            <template v-slot:activator="{ on, attrs }">
                                <v-text-field
                                    v-model="trip.end"
                                    v-bind="attrs"
                                    v-on="on"
                                    label="End date"
                                    prepend-icon="event"
                                    readonly
                                ></v-text-field>
                            </template>
                            <v-date-picker
                                v-model="date"
                                no-title
                                scrollable
                            >
                                <v-spacer></v-spacer>
                                <v-btn
                                    color="primary"
                                    text
                                    @click="$refs.endMenu.isActive = false"
                                >
                                    Cancel
                                </v-btn>
                                <v-btn
                                    color="primary"
                                    text
                                    @click="$refs.endMenu.save(date)"
                                >
                                    OK
                                </v-btn>
                            </v-date-picker>
                        </v-menu>
                    </v-col>
                </v-row>
            </v-expansion-panel-content>
        </v-expansion-panel>
    </v-expansion-panels>
</template>

<script>
    export default {
        data: () => ({
            date: null,
            trip: {
                name: '',
                location: null,
                start: null,
                end: null
            },
            locations: ['Australia', 'Barbados', 'Chile', 'Denmark', 'Ecuador', 'France']
        })
    }
</script>
