<template>
    <div>
        <div class="d-flex">
            <v-checkbox
                v-model="disabled"
                label="Disabled"
            ></v-checkbox>
        </div>

        <v-expansion-panels
            v-model="panel"
            :disabled="disabled"
            multiple
        >
            <v-expansion-panel>
                <v-expansion-panel-header>Panel 1</v-expansion-panel-header>
                <v-expansion-panel-content>
                    Some content
                </v-expansion-panel-content>
            </v-expansion-panel>

            <v-expansion-panel>
                <v-expansion-panel-header>Panel 2</v-expansion-panel-header>
                <v-expansion-panel-content>
                    Some content
                </v-expansion-panel-content>
            </v-expansion-panel>

            <v-expansion-panel>
                <v-expansion-panel-header>Panel 3</v-expansion-panel-header>
                <v-expansion-panel-content>
                    Some content
                </v-expansion-panel-content>
            </v-expansion-panel>
        </v-expansion-panels>
    </div>
</template>

<script>
    export default {
        data: () => ({
            panel: [0, 1],
            disabled: false,
            readonly: false
        })
    }
</script>
