<template>
    <v-row align="center" justify="space-around">
        <v-icon>fas fa-lock</v-icon>

        <v-icon>fas fa-search</v-icon>

        <v-icon>fas fa-list</v-icon>

        <v-icon>fas fa-edit</v-icon>

        <v-icon>fas fa-tachometer-alt</v-icon>

        <v-icon>fas fa-circle-notch fa-spin</v-icon>
    </v-row>
</template>
