<template>
    <v-card>
        <v-card-text>
            <p>Hover me:</p>
            <div class="cursor-pointer success pa-2 mb-2">Pointer</div>
            <div class="cursor-wait warning pa-2 mb-2">Wait</div>
            <div class="cursor-text blue-grey pa-2 mb-2">Text</div>
            <div class="cursor-move secondary pa-2 mb-2">Move</div>
            <div class="cursor-not-allowed error pa-2 mb-2">Not Allowed</div>
            <div class="cursor-default grey lighten-2 pa-2 mb-2">Default</div>
            <div class="cursor-auto grey pa-2 mb-2">Auto</div>
        </v-card-text>
    </v-card>
</template>
