<template>
    <div class="ma-12 pa-12">
        <template>
            <v-card>
                <v-navigation-drawer
                    expand-on-hover
                    permanent
                >
                    <v-list>
                        <v-list-item class="px-2">
                            <v-list-item-avatar>
                                <v-img src="/images/avatars/avatar13.svg"></v-img>
                            </v-list-item-avatar>
                        </v-list-item>

                        <v-list-item link>
                            <v-list-item-content>
                                <v-list-item-title class="title">Sandra Adams</v-list-item-title>
                                <v-list-item-subtitle>sandra_a88@gmail.com</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list>

                    <v-divider></v-divider>

                    <v-list
                        dense
                        nav
                    >
                        <v-list-item link>
                            <v-list-item-icon>
                                <v-icon>mdi-folder</v-icon>
                            </v-list-item-icon>
                            <v-list-item-title>My Files</v-list-item-title>
                        </v-list-item>
                        <v-list-item link>
                            <v-list-item-icon>
                                <v-icon>mdi-account-multiple</v-icon>
                            </v-list-item-icon>
                            <v-list-item-title>Shared with me</v-list-item-title>
                        </v-list-item>
                        <v-list-item link>
                            <v-list-item-icon>
                                <v-icon>mdi-star</v-icon>
                            </v-list-item-icon>
                            <v-list-item-title>Starred</v-list-item-title>
                        </v-list-item>
                    </v-list>
                </v-navigation-drawer>
            </v-card>
        </template>
    </div>
</template>

<script>
    export default {
        //
    }
</script>
