<template>
    <v-card height="350px">
        <v-navigation-drawer
            absolute
            permanent
            right
        >
            <template v-slot:prepend>
                <v-list-item two-line>
                    <v-list-item-avatar>
                        <img src="/images/avatars/avatar10.svg">
                    </v-list-item-avatar>

                    <v-list-item-content>
                        <v-list-item-title>Jane Smith</v-list-item-title>
                        <v-list-item-subtitle>Logged In</v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
            </template>

            <v-divider></v-divider>

            <v-list dense>
                <v-list-item
                    v-for="item in items"
                    :key="item.title"
                    @click=""
                >
                    <v-list-item-icon>
                        <v-icon>{{ item.icon }}</v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                        <v-list-item-title>{{ item.title }}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>
    </v-card>
</template>

<script>
    export default {
        data() {
            return {
                items: [
                    {title: 'Home', icon: 'mdi-home-city'},
                    {title: 'My Account', icon: 'mdi-account'},
                    {title: 'Users', icon: 'mdi-account-group-outline'}
                ]
            }
        }
    }
</script>
