<template>
    <v-sheet
        class="overflow-hidden"
        height="400"
        style="position: relative;"
    >
        <v-container class="fill-height">
            <v-row
                align="center"
                justify="center"
            >
                <v-btn
                    color="pink"
                    dark
                    @click.stop="drawer = !drawer"
                >
                    Toggle
                </v-btn>
            </v-row>
        </v-container>

        <v-navigation-drawer
            v-model="drawer"
            absolute
            temporary
        >
            <v-list-item>
                <v-list-item-avatar>
                    <v-img src="/images/avatars/avatar18.svg"></v-img>
                </v-list-item-avatar>

                <v-list-item-content>
                    <v-list-item-title>John</v-list-item-title>
                </v-list-item-content>
            </v-list-item>

            <v-divider></v-divider>

            <v-list dense>

                <v-list-item
                    v-for="item in items"
                    :key="item.title"
                    link
                >
                    <v-list-item-icon>
                        <v-icon>{{ item.icon }}</v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                        <v-list-item-title>{{ item.title }}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>
    </v-sheet>
</template>

<script>
    export default {
        data() {
            return {
                drawer: null,
                items: [
                    {title: 'Home', icon: 'dashboard'},
                    {title: 'About', icon: 'question_answer'}
                ]
            }
        }
    }
</script>
