<template>
    <v-card>
        <v-card-text>
            <div style="height: 100px">
                <div class="h-full pa-1 grey lighten-1">Height 100%</div>
            </div>
            <div class="h-auto pa-1 purple">Height auto</div>
            <div class="h-screen pa-1 success">Height 100vh</div>
        </v-card-text>
    </v-card>
</template>
