<template>
    <v-card>
        <v-card-text>
            <div class="min-w-0 pa-1 grey lighten-1">Min Width 0</div>
            <div class="min-w-full pa-1 purple">Min Width 100%</div>
            <div class="min-w-screen pa-1 success">Min Width 100vh</div>
        </v-card-text>
    </v-card>
</template>
