<template>
    <v-card>
        <v-card-text>
            <div class="min-h-0 pa-1 grey lighten-1">Min Height 0</div>
            <div class="min-h-full pa-1 purple">Min Height 100%</div>
            <div class="min-h-screen pa-1 success">Min Height 100vh</div>
        </v-card-text>
    </v-card>
</template>
