<template>
    <v-card>
        <v-card-text>
            <div style="width: 300px">
                <div class="w-full pa-1 grey lighten-1">Width 100%</div>
            </div>
            <div class="w-auto pa-1 purple">Width auto</div>
            <div class="w-screen pa-1 success">Width 100vh</div>
        </v-card-text>
    </v-card>
</template>
