<template>
    <v-stepper alt-labels>
        <v-stepper-header>
            <v-stepper-step complete step="3">Ad type</v-stepper-step>

            <v-divider></v-divider>

            <v-stepper-step complete step="4">Ad style</v-stepper-step>

            <v-divider></v-divider>

            <v-stepper-step :rules="[() => false]" step="5">
                Custom channels
                <small>Alert message</small>
            </v-stepper-step>

            <v-divider></v-divider>

            <v-stepper-step step="6">Get code</v-stepper-step>
        </v-stepper-header>
    </v-stepper>
</template>
