<template>
    <div>
        <v-stepper alt-labels>
            <v-stepper-header>
                <v-stepper-step step="1">Ad unit details</v-stepper-step>

                <v-divider></v-divider>

                <v-stepper-step step="2">Ad sizes</v-stepper-step>

                <v-divider></v-divider>

                <v-stepper-step step="3">Ad templates</v-stepper-step>
            </v-stepper-header>
        </v-stepper>

        <v-stepper alt-labels class="mt-12">
            <v-stepper-header>

                <v-stepper-step step="1">Ad unit details</v-stepper-step>

                <v-divider></v-divider>

                <v-stepper-step step="2">
                    Ad sizes
                    <small>Optional</small>
                </v-stepper-step>

                <v-divider></v-divider>

                <v-stepper-step step="3">Ad templates</v-stepper-step>
            </v-stepper-header>
        </v-stepper>
    </div>
</template>
