<template>
    <div>
        <v-card class="text-center pa-1">
            <v-card-title class="justify-center display-1 mb-2">{{ $t('forgot.title') }}</v-card-title>
            <v-card-subtitle>
                {{ $t('forgot.subtitle') }}
            </v-card-subtitle>

            <!-- reset form -->
            <v-card-text>
                <v-form ref="form" v-model="isFormValid" lazy-validation @submit.prevent="submit">
                    <v-text-field
                        v-model="email"
                        :error="error"
                        :error-messages="errorMessages"
                        :label="$t('forgot.email')"
                        :rules="[rules.required]"
                        :validate-on-blur="false"
                        name="email"
                        outlined
                        @change="resetErrors"
                        @keyup.enter="submit"
                    ></v-text-field>

                    <v-btn
                        :loading="isLoading"
                        block
                        color="primary"
                        x-large
                        @click="submit"
                    >{{ $t('forgot.button') }}
                    </v-btn>
                </v-form>
            </v-card-text>
        </v-card>

        <div class="text-center mt-6">
            <router-link to="/auth/signin">
                {{ $t('forgot.backtosign') }}
            </router-link>
        </div>
    </div>
</template>

<script>
    /*
    |---------------------------------------------------------------------
    | Forgot Page Component
    |---------------------------------------------------------------------
    |
    | Template to send email to remember/replace password
    |
    */
    export default {
        data() {
            return {
                // reset button
                isLoading: false,

                // form
                isFormValid: true,
                email: '',

                // form error
                error: false,
                errorMessages: '',

                // input rules
                rules: {
                    required: (value) => (value && Boolean(value)) || 'Required'
                }
            }
        },
        methods: {
            submit(e) {
                if (this.$refs.form.validate()) {
                    console.log('submit')
                }
            },
            resetEmail(email, password) {
            },
            resetErrors() {
                this.error = false
                this.errorMessages = ''
            }
        }
    }
</script>
