<template>
    <div>
        <v-card class="text-center pa-1">
            <v-card-title class="justify-center display-1 mb-2">Hi</v-card-title>
            <v-card-subtitle>Sign in to your account</v-card-subtitle>

            <!-- sign in form -->
            <v-card-text>
                <v-form ref="form" v-model="isFormValid" lazy-validation>
                    <v-text-field
                        v-model="email"
                        :error="error"
                        :rules="[rules.required]"
                        :validate-on-blur="false"
                        label="電子郵件"
                        name="email"
                        outlined
                        @change="resetErrors"
                        @keyup.enter="submit"
                    ></v-text-field>

                    <v-text-field
                        v-model="password"
                        :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                        :error="error"
                        :error-messages="errorMessages"
                        :rules="[rules.required]"
                        :type="showPassword ? 'text' : 'password'"
                        label="密碼"
                        name="password"
                        outlined
                        @change="resetErrors"
                        @keyup.enter="submit"
                        @click:append="showPassword = !showPassword"
                    ></v-text-field>

                    <v-btn
                        :disabled="isSignInDisabled"
                        :loading="isLoading"
                        block
                        color="primary"
                        x-large
                        @click="submit"
                    >登入
                    </v-btn>
                </v-form>
            </v-card-text>
        </v-card>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator'
    import {AdminPermission} from '~/data/permisson'
    import {routeDict} from '~/router'

    @Component
    export default class SigninPage extends Vue {

        // sign in buttons
        isLoading: boolean = false
        isSignInDisabled: boolean = false

        // form
        isFormValid: boolean = true
        email: string = ''
        password: string = ''

        // form error
        error: boolean = false
        errorMessages: string = ''

        errorProvider: boolean = false
        errorProviderMessages: string = ''

        // show password field
        showPassword: boolean = false

        // input rules
        rules = {
            required: (value) => (value && Boolean(value)) || 'Required'
        }

        get form() {
            return this.$refs.form as any
        }

        created() {

        }

        submit() {
            if (this.form.validate()) {
                this.isLoading = true
                this.isSignInDisabled = true
                this.signIn(this.email, this.password)
            }
        }

        async signIn(email, password) {
            try {
                const res = await this.$api.request('/login', 'post', {}, {
                    email: email,
                    password: password
                }).send(false)

                const authRes = await this.$firebase.auth().signInWithCustomToken(res.data.custom_token)
                await this.$store.dispatch('user/fetchUserPermission', authRes.user!.uid)

                //  Check user have admin page access
                if (!this.checkPermissions(AdminPermission.AdminPage)) {
                    alert('Only admin can access to admin page')
                    this.$store.dispatch('user/signOut')
                    return
                }

                const redirect = window.sessionStorage.getItem('after-login')
                if (redirect) {
                    window.sessionStorage.removeItem('after-login')
                    await this.$router.push(redirect)
                } else if (this.checkComponentPermission(routeDict['view-order-list'])) {
                    await this.$router.push(routeDict['view-order-list'].path)
                } else {
                    await this.$router.push(routeDict['blog-list'].path)
                }

                this.$router.push('/')
            } catch (e) {
                console.log(e)
                alert('Oops. ' + e.message)
            }
        }

        resetErrors() {
            this.error = false
            this.errorMessages = ''

            this.errorProvider = false
            this.errorProviderMessages = ''
        }
    }
</script>
