<template>
    <div>
        <v-card class="text-center pa-1">
            <v-card-title class="justify-center display-1 mb-2">{{ $t('register.title') }}</v-card-title>
            <v-card-subtitle>Let's build amazing products</v-card-subtitle>

            <!-- sign up form -->
            <v-card-text>
                <v-form ref="form" v-model="isFormValid" lazy-validation>
                    <v-text-field
                        v-model="name"
                        :error="errorName"
                        :error-messages="errorNameMessage"
                        :label="$t('register.name')"
                        :rules="[rules.required]"
                        :validate-on-blur="false"
                        name="name"
                        outlined
                        @change="resetErrors"
                        @keyup.enter="submit"
                    ></v-text-field>

                    <v-text-field
                        v-model="email"
                        :error="errorEmail"
                        :error-messages="errorEmailMessage"
                        :label="$t('register.email')"
                        :rules="[rules.required]"
                        :validate-on-blur="false"
                        name="email"
                        outlined
                        @change="resetErrors"
                        @keyup.enter="submit"
                    ></v-text-field>

                    <v-text-field
                        v-model="password"
                        :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                        :error="errorPassword"
                        :error-messages="errorPasswordMessage"
                        :label="$t('register.password')"
                        :rules="[rules.required]"
                        :type="showPassword ? 'text' : 'password'"
                        name="password"
                        outlined
                        @change="resetErrors"
                        @keyup.enter="submit"
                        @click:append="showPassword = !showPassword"
                    ></v-text-field>

                    <v-btn
                        :disabled="isSignUpDisabled"
                        :loading="isLoading"
                        block
                        color="primary"
                        x-large
                        @click="submit"
                    >{{ $t('register.button') }}
                    </v-btn>

                    <div class="caption font-weight-bold text-uppercase my-3">{{ $t('register.orsign') }}</div>

                    <!-- external providers list -->
                    <v-btn
                        v-for="provider in providers"
                        :key="provider.id"
                        :disabled="isSignUpDisabled"
                        :loading="provider.isLoading"
                        block
                        class="mb-2 primary lighten-2 primary--text text--darken-3"
                        x-large
                        @click="signInProvider(provider)"
                    >
                        <v-icon left small>mdi-{{ provider.id }}</v-icon>
                        {{ provider.label }}
                    </v-btn>

                    <div v-if="errorProvider" class="error--text">{{ errorProviderMessages }}</div>

                    <div class="mt-5 overline">
                        {{ $t('register.agree') }}
                        <br/>
                        <router-link to="">{{ $t('common.tos') }}</router-link>
                        &
                        <router-link to="">{{ $t('common.policy') }}</router-link>
                    </div>
                </v-form>
            </v-card-text>
        </v-card>

        <div class="text-center mt-6">
            {{ $t('register.account') }}
            <router-link class="font-weight-bold" to="/auth/signin">
                {{ $t('register.signin') }}
            </router-link>
        </div>
    </div>
</template>

<script>
    /*
    |---------------------------------------------------------------------
    | Sign Up Page Component
    |---------------------------------------------------------------------
    |
    | Template for user sign up with external providers buttons
    |
    */
    export default {
        data() {
            return {
                // sign up buttons
                isLoading: false,
                isSignUpDisabled: false,

                // form
                isFormValid: true,
                email: '',
                password: '',
                name: '',

                // form error
                errorName: false,
                errorEmail: false,
                errorPassword: false,
                errorNameMessage: '',
                errorEmailMessage: '',
                errorPasswordMessage: '',

                errorProvider: false,
                errorProviderMessages: '',

                // show password field
                showPassword: false,

                // external providers
                providers: [{
                    id: 'google',
                    label: 'Google',
                    isLoading: false
                }, {
                    id: 'facebook',
                    label: 'Facebook',
                    isLoading: false
                }],

                // input rules
                rules: {
                    required: (value) => (value && Boolean(value)) || 'Required'
                }
            }
        },
        methods: {
            submit() {
                if (this.$refs.form.validate()) {
                    this.isLoading = true
                    this.isSignUpDisabled = true
                    this.signUp(this.email, this.password)
                }
            },
            signUp(email, password) {
            },
            signInProvider(provider) {
            },
            resetErrors() {
                this.errorName = false
                this.errorEmail = false
                this.errorPassword = false
                this.errorNameMessage = ''
                this.errorEmailMessage = ''
                this.errorPasswordMessage = ''

                this.errorProvider = false
                this.errorProviderMessages = ''
            }
        }
    }
</script>
