<template>
    <div class="d-flex flex-grow-1 flex-column">
        <v-row class="flex-grow-0" dense>
            <v-col cols="12" xl="4">
                <sales-card
                    :action-label="$t('dashboard.viewReport')"
                    :loading="isLoading1"
                    :percentage="3.2"
                    :percentage-label="$t('dashboard.lastweek')"
                    :value="1837.32"
                    class="h-full"
                    style="min-height: 380px"
                ></sales-card>
            </v-col>

            <v-col cols="12" md="6" xl="4">
                <activity-card class="h-full"/>
            </v-col>

            <v-col cols="12" md="6" xl="4">
                <sources-card
                    :label="$t('dashboard.sources')"
                    :loading="isLoading2"
                    :percentage="4.3"
                    :percentage-label="$t('dashboard.lastweek')"
                    :series="[44, 55, 41, 17]"
                    :value="432"
                    class="h-full"
                    color="#8c9eff"
                    style="min-height: 380px"
                ></sources-card>
            </v-col>
        </v-row>

        <v-row class="flex-grow-0" dense>
            <v-col cols="12" lg="6">
                <table-card :label="$t('dashboard.recentOrders')" class="h-full"/>
            </v-col>
            <v-col cols="12" lg="6">
                <div class="d-flex flex-column flex-grow-1 h-full">
                    <track-card
                        :label="$t('dashboard.orders')"
                        :loading="isLoading3"
                        :percentage="4.3"
                        :percentage-label="$t('dashboard.lastweek')"
                        :series="ordersSeries"
                        :value="432"
                        class="h-full"
                        color="#8c9eff"
                    ></track-card>
                    <track-card
                        :color="theme.success"
                        :label="$t('dashboard.customers')"
                        :loading="isLoading3"
                        :percentage="2.12"
                        :percentage-label="$t('dashboard.lastweek')"
                        :series="customersSeries"
                        :value="178"
                        class="h-full mt-2"
                    ></track-card>
                </div>
            </v-col>
        </v-row>

        <v-row class="flex-grow-0" dense>
            <v-col cols="12" xl="6">
                <todo-card style="min-height: 380px"/>
            </v-col>
            <v-col cols="12" xl="6">
                <tickets-card
                    :label="$t('dashboard.tickets')"
                    :loading="isLoading4"
                    :percentage="-8.3"
                    :percentage-label="$t('dashboard.lastweek')"
                    :series="ordersSeries"
                    :value="32"
                    class="h-full"
                    color="#8c9eff"
                ></tickets-card>
            </v-col>
        </v-row>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator'
    import ActivityCard from '~/components/dashboard/ActivityCard.vue'
    import SalesCard from '~/components/dashboard/SalesCard.vue'
    import SourcesCard from '~/components/dashboard/SourcesCard.vue'
    import TableCard from '~/components/dashboard/TableCard.vue'
    import TicketsCard from '~/components/dashboard/TicketsCard.vue'
    import TodoCard from '~/components/dashboard/TodoCard.vue'
    import TrackCard from '~/components/dashboard/TrackCard.vue'
    import Timeout = NodeJS.Timeout

    @Component({
        components: {
            SalesCard,
            ActivityCard,
            TrackCard,
            TableCard,
            SourcesCard,
            TicketsCard,
            TodoCard
        },
        computed: {
            theme() {
                return this.$vuetify.theme.isDark
                    ? this.$vuetify.theme.defaults.dark
                    : this.$vuetify.theme.defaults.light
            }
        }
    })
    export default class DashboardPage extends Vue {

        loadingInterval: Timeout | null = null

        isLoading1: boolean = true
        isLoading2: boolean = true
        isLoading3: boolean = true
        isLoading4: boolean = true

        ordersSeries: {}[] = [{
            name: 'Orders',
            data: [
                ['2020-02-02', 34],
                ['2020-02-03', 43],
                ['2020-02-04', 40],
                ['2020-02-05', 43]
            ]
        }]

        customersSeries: {}[] = [{
            name: 'Customers',
            data: [
                ['2020-02-02', 13],
                ['2020-02-03', 11],
                ['2020-02-04', 13],
                ['2020-02-05', 12]
            ]
        }]

        mounted() {
            let count = 0

            // DEMO delay for loading graphics
            this.loadingInterval = setInterval(() => {
                this[`isLoading${count++}`] = false
                if (count === 4) this.clear()
            }, 400)
        }

        beforeDestroy() {
            this.clear()
        }

        clear() {
            if (this.loadingInterval)
                clearInterval(this.loadingInterval)
        }
    }
</script>
