<template>
    <ui-demo :snippets="snippets" title="Format Date"></ui-demo>
</template>

<script>
    // Snippets
    import ExampleSnippet from '!!raw-loader!./_examples/format-date/example.vue'
    import UiDemo from '~/components/demo/UIDemo'

    export default {
        components: {
            UiDemo
        },
        data: () => ({
            snippets: [
                {
                    title: 'Example',
                    snippet: ExampleSnippet
                }
            ]
        })
    }
</script>
