<template>
    <v-container fluid>
        <v-row>
            <v-col cols="12">
                <v-combobox
                    v-model="select"
                    :items="items"
                    label="Select a favorite activity or create a new one"
                    multiple
                ></v-combobox>
            </v-col>
            <v-col cols="12">
                <v-combobox
                    v-model="select"
                    :items="items"
                    chips
                    label="I use chips"
                    multiple
                ></v-combobox>
            </v-col>
            <v-col cols="12">
                <v-combobox
                    v-model="select"
                    :items="items"
                    chips
                    label="I use a scoped slot"
                    multiple
                >
                    <template v-slot:selection="data">
                        <v-chip
                            :key="JSON.stringify(data.item)"
                            v-bind="data.attrs"
                            :disabled="data.disabled"
                            :input-value="data.selected"
                            @click:close="data.parent.selectItem(data.item)"
                        >
                            <v-avatar
                                class="accent white--text"
                                left
                                v-text="data.item.slice(0, 1).toUpperCase()"
                            ></v-avatar>
                            {{ data.item }}
                        </v-chip>
                    </template>
                </v-combobox>
            </v-col>
            <v-col cols="12">
                <v-combobox
                    v-model="select"
                    chips
                    label="I'm readonly"
                    multiple
                    readonly
                ></v-combobox>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    export default {
        data() {
            return {
                select: ['Vuetify', 'Programming'],
                items: [
                    'Programming',
                    'Design',
                    'Vue',
                    'Vuetify'
                ]
            }
        }
    }
</script>
