<template>
    <v-container fluid>
        <v-row>
            <v-col cols="12">
                <v-combobox
                    v-model="select"
                    :items="items"
                    dense
                    label="Combobox"
                    multiple
                    outlined
                ></v-combobox>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    export default {
        data() {
            return {
                select: ['Vuetify', 'Programming'],
                items: [
                    'Programming',
                    'Design',
                    'Vue',
                    'Vuetify'
                ]
            }
        }
    }
</script>
