<template>
    <v-row align="center" justify="space-around">
        <v-icon>bx bx-home-smile</v-icon>

        <v-icon>bx bxs-meteor</v-icon>

        <v-icon>bx bx-coin-stack</v-icon>

        <v-icon>bx bx-game</v-icon>

        <v-icon>bx bx-dice-4</v-icon>

        <v-icon>bx bx-message-dots</v-icon>
    </v-row>
</template>
