<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <link href="<%= BASE_URL %>images/logo/logo-icon.svg" rel="shortcut icon">
    <link href="<%= BASE_URL %>images/logo/logo-icon.svg" rel="apple-touch-icon">
    <title><%= htmlWebpackPlugin.options.title %></title>

    <!-- Quicksand Font -->
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap" rel="stylesheet">

    <style>
        .loading-placeholder{display:flex;align-items:center;justify-content:center;position:fixed;top:0;left:0;width:100%;height:100%;background:#f2f5f8;z-index:100000}.loading-placeholder img{animation:1.5s .1s infinite iconPulse}@keyframes iconPulse{from,to{transform:scale3d(1,1,1)}50%{transform:scale3d(1.1,1.1,1.1)}}
    </style>
</head>
<body>
<noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript>
<div class="loading-placeholder">
    <img src="/images/logo/logo-icon.svg" alt="loading" width="auto" height="90px" />
</div>
<div id="app"></div>
<!-- built files will be auto injected -->
</body>
</html>
