<template>
    <ui-demo :snippets="snippets" title="Cursor">
        <div class="mt-2">Please checkout the <a class="font-weight-bold" href="https://vuetifyjs.com/styles/display"
                                                 target="_blank">Documentation</a> for Vuetify styles.
        </div>
    </ui-demo>
</template>

<script>
    // Snippets
    import ExampleSnippet from '!!raw-loader!./_examples/cursor/example.vue'
    import UiDemo from '~/components/demo/UIDemo'

    export default {
        components: {
            UiDemo
        },
        data: () => ({
            snippets: [
                {
                    title: 'Example',
                    snippet: ExampleSnippet
                }
            ]
        })
    }
</script>
