<template>
    <v-menu left offset-y transition="slide-y-transition">
        <template v-slot:activator="{ on }">
            <v-btn v-on="on" class="elevation-2" icon>
                <v-badge
                    bordered
                    color="success"
                    dot
                    offset-x="10"
                    offset-y="10"
                >
                    <v-avatar size="40">
                        <v-img :src="avatar"></v-img>
                    </v-avatar>
                </v-badge>
            </v-btn>
        </template>

        <!-- user menu list -->
        <v-list dense nav>
            <v-list-item
                v-for="(item, index) in menu"
                :key="index"
                :disabled="item.disabled"
                :exact="item.exact"
                :to="item.link"
                link
            >
                <v-list-item-icon>
                    <v-icon :class="{ 'grey--text': item.disabled }" small>{{ item.icon }}</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                    <v-list-item-title>{{ item.key ? $t(item.key) : item.text }}</v-list-item-title>
                </v-list-item-content>
            </v-list-item>

            <v-divider class="my-1"></v-divider>

            <v-list-item @click="clickLogout">
                <v-list-item-icon>
                    <v-icon small>mdi-logout-variant</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                    <v-list-item-title>{{ $t('menu.logout') }}</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </v-list>
    </v-menu>
</template>

<script lang="ts">
    import {mixins} from 'vue-class-component'
    import {Component} from 'vue-property-decorator'
    import {mapGetters} from 'vuex'
    import config from '~/configs'
    import ImageUrlMixin from '~/mixins/image-url'
    /*
    |---------------------------------------------------------------------
    | Toolbar User Component
    |---------------------------------------------------------------------
    |
    | Quickmenu for user menu shortcuts on the toolbar
    |
    */
    @Component({
        computed: {
            ...mapGetters('user', {
                memberId: 'getUserId'
            })
        }
    })
    export default class ToolbarUser extends mixins(ImageUrlMixin) {
        menu = config.toolbar.user

        memberId: string

        get avatar() {
            return this.avatarLink(this.memberId, '-w100')
        }

        clickLogout() {
            this.$store.dispatch('user/signOut')
        }
    }
</script>
