<template>
    <ui-demo :snippets="snippets" title="Apex Charts"></ui-demo>
</template>

<script>
    import BubbleSnippet from '!!raw-loader!./_examples/apex-charts/complex/bubble.vue'
    import CandesticksSnippet from '!!raw-loader!./_examples/apex-charts/complex/candesticks.vue'
    import HeatmapSnippet from '!!raw-loader!./_examples/apex-charts/complex/heatmap.vue'
    import MixedSnippet from '!!raw-loader!./_examples/apex-charts/complex/mixed.vue'
    import RadarSnippet from '!!raw-loader!./_examples/apex-charts/complex/radar.vue'
    import ScatterSnippet from '!!raw-loader!./_examples/apex-charts/intermediate/scatter.vue'
    import SparklinesSnippet from '!!raw-loader!./_examples/apex-charts/intermediate/sparklines.vue'
    import TimelineSnippet from '!!raw-loader!./_examples/apex-charts/intermediate/timeline.vue'
    import BarSnippet from '!!raw-loader!./_examples/apex-charts/simple/bar.vue'
    import ColumnSnippet from '!!raw-loader!./_examples/apex-charts/simple/column.vue'
    import LineSnippet from '!!raw-loader!./_examples/apex-charts/simple/line.vue'
    import PieSnippet from '!!raw-loader!./_examples/apex-charts/simple/pie.vue'
    import RadialSnippet from '!!raw-loader!./_examples/apex-charts/simple/radial.vue'

    // Snippets
    import SplineSnippet from '!!raw-loader!./_examples/apex-charts/simple/spline.vue'
    import UiDemo from '~/components/demo/UIDemo'

    export default {
        components: {
            UiDemo
        },
        data: () => ({
            snippets: [
                {
                    title: 'Spline',
                    snippet: SplineSnippet
                },
                {
                    title: 'Radial',
                    snippet: RadialSnippet
                },
                {
                    title: 'Pie',
                    snippet: PieSnippet
                },
                {
                    title: 'Line',
                    snippet: LineSnippet
                },
                {
                    title: 'Column',
                    snippet: ColumnSnippet
                },
                {
                    title: 'Bar',
                    snippet: BarSnippet
                },
                {
                    title: 'Sparklines',
                    snippet: SparklinesSnippet
                },
                {
                    title: 'Timeline',
                    snippet: TimelineSnippet
                },
                {
                    title: 'Scatter',
                    snippet: ScatterSnippet
                },
                {
                    title: 'Candesticks',
                    snippet: CandesticksSnippet
                },
                {
                    title: 'Radar',
                    snippet: RadarSnippet
                },
                {
                    title: 'Mixed',
                    snippet: MixedSnippet
                },
                {
                    title: 'Heatmap',
                    snippet: HeatmapSnippet
                },
                {
                    title: 'Bubble',
                    snippet: BubbleSnippet
                }
            ]
        })
    }
</script>
