<template>
    <v-container fluid>
        <v-textarea
            auto-grow
            filled
            label="Label"
            name="input-7-1"
            value="The Woodman set to work at once, and so sharp was his axe that the tree was soon chopped nearly through."
        ></v-textarea>
    </v-container>
</template>
