<template>
    <v-container>
        <v-textarea
            background-color="light-blue"
            color="black"
            label="Label"
        ></v-textarea>

        <v-textarea
            background-color="grey lighten-2"
            color="cyan"
            label="Label"
        ></v-textarea>

        <v-textarea
            background-color="amber lighten-4"
            color="orange orange-darken-4"
            label="Label"
        ></v-textarea>
    </v-container>
</template>
