<template>
    <v-container fluid>
        <v-textarea
            clear-icon="cancel"
            clearable
            label="Text"
            value="This is clearable text."
        ></v-textarea>
    </v-container>
</template>
