<template>
    <v-container fluid>
        <v-textarea
            :rules="rules"
            :value="value"
            counter
            label="Text"
        ></v-textarea>
    </v-container>
</template>

<script>
    export default {
        data: () => ({
            rules: [(v) => v.length <= 25 || 'Max 25 characters'],
            value: 'Hello!'
        })
    }
</script>
