<template>
    <v-container fluid>
        <v-row>
            <v-col cols="12" sm="6">
                <v-textarea
                    auto-grow
                    label="One row"
                    outlined
                    row-height="15"
                    rows="1"
                ></v-textarea>
            </v-col>
            <v-col cols="12" sm="6">
                <v-textarea
                    auto-grow
                    filled
                    label="Two rows"
                    row-height="20"
                    rows="2"
                ></v-textarea>
            </v-col>
            <v-col cols="12" sm="6">
                <v-textarea
                    auto-grow
                    label="Three rows"
                    outlined
                    row-height="25"
                    rows="3"
                    shaped
                ></v-textarea>
            </v-col>
            <v-col cols="12" sm="6">
                <v-textarea
                    auto-grow
                    filled
                    label="Four rows"
                    row-height="30"
                    rows="4"
                    shaped
                ></v-textarea>
            </v-col>
        </v-row>
    </v-container>
</template>
