<template>
    <div>
        <v-alert
            border="top"
            color="red lighten-2"
            dark
        >
            I'm an alert with a top border and red color
        </v-alert>
        <v-alert
            border="right"
            color="blue-grey"
            dark
        >
            I'm an alert with a right border and blue-grey color
        </v-alert>
        <v-alert
            border="bottom"
            color="pink darken-1"
            dark
        >
            I'm an alert with a bottom border and pink color
        </v-alert>
        <v-alert
            border="left"
            color="indigo"
            dark
        >
            I'm an alert with a border left type info
        </v-alert>
    </div>
</template>
