<template>
    <div>
        <v-alert
            border="left"
            color="deep-purple accent-4"
            colored-border
            elevation="2"
        >
            Aliquam eu nunc. Fusce commodo aliquam arcu. In consectetuer turpis ut velit. Nulla facilisi..

            Morbi mollis tellus ac sapien. Fusce vel dui. Praesent ut ligula non mi varius sagittis. Vivamus consectetuer hendrerit lacus. Suspendisse
            enim turpis, dictum sed, iaculis a, condimentum nec, nisi.
        </v-alert>
        <v-alert
            border="top"
            colored-border
            elevation="2"
            type="info"
        >
            Vestibulum ullamcorper mauris at ligula. Nam pretium turpis et arcu. Ut varius tincidunt libero. Curabitur ligula sapien, tincidunt non,
            euismod vitae, posuere imperdiet, leo. Morbi nec metus.
        </v-alert>
        <v-alert
            border="bottom"
            colored-border
            elevation="2"
            type="warning"
        >
            Sed in libero ut nibh placerat accumsan. Phasellus leo dolor, tempus non, auctor et, hendrerit quis, nisi. Phasellus leo dolor, tempus
            non, auctor et, hendrerit quis, nisi. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero.
            Donec elit libero, sodales nec, volutpat a, suscipit non, turpis.
        </v-alert>
        <v-alert
            border="right"
            colored-border
            elevation="2"
            type="error"
        >
            Fusce commodo aliquam arcu. Pellentesque posuere. Phasellus tempus. Donec posuere vulputate arcu.
        </v-alert>
    </div>
</template>
