<template>
    <v-row justify="space-around">
        <v-icon color="green darken-2" large>mdi-domain</v-icon>

        <v-icon color="blue darken-2" large>mdi-message-text</v-icon>

        <v-icon color="purple darken-2" large>mdi-dialpad</v-icon>

        <v-icon color="teal darken-2" large>mdi-email</v-icon>

        <v-icon color="blue-grey darken-2" large>mdi-call-split</v-icon>

        <v-icon color="orange darken-2" large>mdi-arrow-up-bold-box-outline</v-icon>
    </v-row>
</template>
