<template>
    <v-card
        class="mx-auto"
        max-width="344"
    >
        <v-list-item>
            <v-list-item-avatar color="grey"></v-list-item-avatar>
            <v-list-item-content>
                <v-list-item-title class="headline">Our Changing Planet</v-list-item-title>
                <v-list-item-subtitle>by Kurt Wagner</v-list-item-subtitle>
            </v-list-item-content>
        </v-list-item>

        <v-img
            height="194"
            src="/images/demo/cards/mountain.jpg"
        ></v-img>

        <v-card-text>
            Visit ten places on our planet that are undergoing the biggest changes today.
        </v-card-text>

        <v-card-actions>
            <v-btn
                color="deep-purple accent-4"
                text
            >
                Read
            </v-btn>
            <v-btn
                color="deep-purple accent-4"
                text
            >
                Bookmark
            </v-btn>
            <v-spacer></v-spacer>
            <v-btn icon>
                <v-icon>mdi-heart</v-icon>
            </v-btn>
            <v-btn icon>
                <v-icon>mdi-share-variant</v-icon>
            </v-btn>
        </v-card-actions>
    </v-card>
</template>
