<template>
    <v-row>
        <v-col cols="12" offset-sm="3" sm="6">
            <v-card>
                <v-img
                    aspect-ratio="2.75"
                    src="/images/demo/cards/desert.jpg"
                ></v-img>

                <v-card-title primary-title>
                    <div>
                        <h3 class="headline mb-0">Kangaroo Valley Safari</h3>
                        <div> {{ card_text }}</div>
                    </div>
                </v-card-title>

                <v-card-actions>
                    <v-btn color="orange" text>Share</v-btn>
                    <v-btn color="orange" text>Explore</v-btn>
                </v-card-actions>
            </v-card>
        </v-col>
    </v-row>
</template>

<script>
    export default {
        data() {
            return {
                'card_text': 'Lorem ipsum dolor sit amet, brute iriure accusata ne mea. Eos suavitate referrentur ad, te duo agam libris qualisque, utroque quaestio accommodare no qui. Et percipit laboramus usu, no invidunt verterem nominati mel. Dolorem ancillae an mei, ut putant invenire splendide mel, ea nec propriae adipisci. Ignota salutandi accusamus in sed, et per malis fuisset, qui id ludus appareat.'
            }
        }
    }
</script>
