<template>
    <v-card
        class="mx-auto"
        max-width="400"
    >
        <v-system-bar
            color="pink darken-2"
            dark
        >
            <v-spacer></v-spacer>

            <v-icon>mdi-window-minimize</v-icon>

            <v-icon>mdi-window-maximize</v-icon>

            <v-icon>mdi-close</v-icon>
        </v-system-bar>

        <v-app-bar
            color="pink"
            dark
        >
            <v-app-bar-nav-icon></v-app-bar-nav-icon>

            <v-toolbar-title>My Music</v-toolbar-title>

            <v-spacer></v-spacer>

            <v-btn icon>
                <v-icon>mdi-magnify</v-icon>
            </v-btn>
        </v-app-bar>

        <v-container>
            <v-row dense>
                <v-col cols="12">
                    <v-card
                        color="#385F73"
                        dark
                    >
                        <v-card-title class="headline">Unlimited music now</v-card-title>

                        <v-card-subtitle>Listen to your favorite artists and albums whenever and wherever, online and offline.</v-card-subtitle>

                        <v-card-actions>
                            <v-btn text>Listen Now</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-col>

                <v-col
                    v-for="(item, i) in items"
                    :key="i"
                    cols="12"
                >
                    <v-card
                        :color="item.color"
                        dark
                    >
                        <div class="d-flex flex-no-wrap justify-space-between">
                            <div>
                                <v-card-title
                                    class="headline"
                                    v-text="item.title"
                                ></v-card-title>

                                <v-card-subtitle v-text="item.artist"></v-card-subtitle>
                            </div>

                            <v-avatar
                                class="ma-3"
                                size="125"
                                tile
                            >
                                <v-img :src="item.src"></v-img>
                            </v-avatar>
                        </div>
                    </v-card>
                </v-col>
            </v-row>
        </v-container>
    </v-card>
</template>

<script>
    export default {
        data: () => ({
            items: [
                {
                    color: '#1F7087',
                    src: '/images/demo/cards/foster.jpg',
                    title: 'Supermodel',
                    artist: 'Foster the People'
                },
                {
                    color: '#952175',
                    src: '/images/demo/cards/halcyon.png',
                    title: 'Halcyon Days',
                    artist: 'Ellie Goulding'
                }
            ]
        })
    }
</script>
