<template>
    <div class="text-center">
        <v-tooltip left>
            <template v-slot:activator="{ on, attrs }">
                <v-btn
                    v-bind="attrs"
                    v-on="on"
                    color="primary"
                    dark
                >Left
                </v-btn>
            </template>
            <span>Left tooltip</span>
        </v-tooltip>

        <v-tooltip top>
            <template v-slot:activator="{ on, attrs }">
                <v-btn
                    v-bind="attrs"
                    v-on="on"
                    color="primary"
                    dark
                >Top
                </v-btn>
            </template>
            <span>Top tooltip</span>
        </v-tooltip>

        <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
                <v-btn
                    v-bind="attrs"
                    v-on="on"
                    color="primary"
                    dark
                >Bottom
                </v-btn>
            </template>
            <span>Bottom tooltip</span>
        </v-tooltip>

        <v-tooltip right>
            <template v-slot:activator="{ on, attrs }">
                <v-btn
                    v-bind="attrs"
                    v-on="on"
                    color="primary"
                    dark
                >Right
                </v-btn>
            </template>
            <span>Right tooltip</span>
        </v-tooltip>
    </div>
</template>
