<template>
    <div class="text-center d-flex align-center">
        <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
                <v-btn
                    v-bind="attrs"
                    v-on="on"
                    color="primary"
                    dark
                >Button
                </v-btn>
            </template>
            <span>Tooltip</span>
        </v-tooltip>

        <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
                <v-icon
                    v-bind="attrs"
                    v-on="on"
                    color="primary"
                    dark
                >mdi-home
                </v-icon>
            </template>
            <span>Tooltip</span>
        </v-tooltip>

        <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
                <span v-bind="attrs" v-on="on">This text has a tooltip</span>
            </template>
            <span>Tooltip</span>
        </v-tooltip>
    </div>
</template>
