<template>
    <v-card
        class="mx-auto"
        elevation="24"
        max-width="444"
    >
        <v-system-bar lights-out></v-system-bar>
        <v-carousel
            :continuous="false"
            :cycle="cycle"
            :show-arrows="false"
            delimiter-icon="mdi-minus"
            height="300"
            hide-delimiter-background
        >
            <v-carousel-item
                v-for="(slide, i) in slides"
                :key="i"
            >
                <v-sheet
                    :color="colors[i]"
                    height="100%"
                    tile
                >
                    <v-row
                        align="center"
                        class="fill-height"
                        justify="center"
                    >
                        <div class="display-3">{{ slide }} Slide</div>
                    </v-row>
                </v-sheet>
            </v-carousel-item>
        </v-carousel>
        <v-list two-line>
            <v-list-item>
                <v-list-item-avatar>
                    <v-img src="/images/avatars/avatar1.svg"></v-img>
                </v-list-item-avatar>
                <v-list-item-content>
                    <v-list-item-title>John</v-list-item-title>
                    <v-list-item-subtitle>Author</v-list-item-subtitle>
                </v-list-item-content>
                <v-list-item-action>
                    <v-switch
                        v-model="cycle"
                        inset
                        label="Cycle Slides"
                    ></v-switch>
                </v-list-item-action>
            </v-list-item>
        </v-list>
    </v-card>
</template>

<script>
    export default {
        data() {
            return {
                colors: [
                    'green',
                    'secondary',
                    'yellow darken-4',
                    'red lighten-2',
                    'orange darken-1'
                ],
                cycle: false,
                slides: [
                    'First',
                    'Second',
                    'Third',
                    'Fourth',
                    'Fifth'
                ]
            }
        }
    }
</script>
