<template>
    <v-tabs
        background-color="indigo"
        dark
        fixed-tabs
    >
        <v-tab>
            Option
        </v-tab>
        <v-tab>
            Another Selection
        </v-tab>
        <v-tab>
            Items
        </v-tab>
        <v-tab>
            Another Screen
        </v-tab>
    </v-tabs>
</template>
