<template>
    <v-card>
        <v-tabs
            background-color="teal darken-3"
            dark
            show-arrows
        >
            <v-tabs-slider color="teal lighten-3"></v-tabs-slider>

            <v-tab
                v-for="i in 30"
                :key="i"
                :href="'#tab-' + i"
            >
                Item {{ i }}
            </v-tab>
        </v-tabs>
    </v-card>
</template>
