<template>
    <v-container fluid>
        <v-row>
            <v-col cols="12" md="6">
                <v-textarea
                    hint="Hint text"
                    label="Default style"
                    name="input-7-1"
                    value="The Woodman set to work at once, and so sharp was his axe that the tree was soon chopped nearly through."
                ></v-textarea>
            </v-col>
            <v-col cols="12" md="6">
                <v-textarea
                    label="Solo textarea"
                    name="input-7-4"
                    solo
                ></v-textarea>
            </v-col>
            <v-col cols="12" md="6">
                <v-textarea
                    filled
                    label="Filled textarea"
                    name="input-7-4"
                    value="The Woodman set to work at once, and so sharp was his axe that the tree was soon chopped nearly through."
                ></v-textarea>
            </v-col>
            <v-col cols="12" md="6">
                <v-textarea
                    label="Outlined textarea"
                    name="input-7-4"
                    outlined
                    value="The Woodman set to work at once, and so sharp was his axe that the tree was soon chopped nearly through."
                ></v-textarea>
            </v-col>
        </v-row>
    </v-container>
</template>
