<template>
    <v-container fluid>
        <v-row class="mb-2" justify="space-around">
      <span class="group pa-2">
        <v-icon>mdi-account-circle</v-icon>
        <v-icon>mdi-github</v-icon>
        <v-icon>mdi-cog</v-icon>
      </span>

            <span class="group pa-2 purple">
        <v-icon dark>mdi-adjust</v-icon>
        <v-icon dark>mdi-bell-ring</v-icon>
        <v-icon dark>mdi-chart-pie</v-icon>
      </span>
        </v-row>

        <v-row class="mb-2" justify="space-around">
      <span class="group pa-2">
        <v-icon medium>mdi-account-circle</v-icon>
        <v-icon medium>mdi-github</v-icon>
        <v-icon medium>mdi-cog</v-icon>
      </span>

            <span class="group pa-2 purple">
        <v-icon dark medium>mdi-adjust</v-icon>
        <v-icon dark medium>mdi-bell-ring</v-icon>
        <v-icon dark medium>mdi-chart-pie</v-icon>
      </span>
        </v-row>

        <v-row class="mb-2" justify="space-around">
      <span class="group pa-2">
        <v-icon large>mdi-account-circle</v-icon>
        <v-icon large>mdi-github</v-icon>
        <v-icon large>mdi-cog</v-icon>
      </span>

            <span class="group pa-2 purple">
        <v-icon dark large>mdi-adjust</v-icon>
        <v-icon dark large>mdi-bell-ring</v-icon>
        <v-icon dark large>mdi-chart-pie</v-icon>
      </span>
        </v-row>

        <v-row justify="space-around">
      <span class="group pa-2">
        <v-icon x-large>mdi-account-circle</v-icon>
        <v-icon x-large>mdi-github</v-icon>
        <v-icon x-large>mdi-cog</v-icon>
      </span>

            <span class="group pa-2 purple">
        <v-icon dark x-large>mdi-adjust</v-icon>
        <v-icon dark x-large>mdi-bell-ring</v-icon>
        <v-icon dark x-large>mdi-chart-pie</v-icon>
      </span>
        </v-row>
    </v-container>
</template>

<style>
    .group {
        display: flex;
        flex: 1;
        justify-content: space-around;
    }
</style>
