<template>
    <div>
        Lorem ipsum dolor sit amet, <strong class="red--text text--lighten-1">inciderint</strong> definitionem est ea, explicari prodesset eam id.
        Mazim doctus vix an. <span class="indigo--text text--darken-2">Amet causae probatus nec ex</span>.
    </div>
</template>
