<template>
    <v-container>
        <v-row align="center">
            <v-date-picker
                v-model="date"
                class="mt-4"
                width="290"
            ></v-date-picker>
            <v-date-picker
                v-model="date"
                :landscape="$vuetify.breakpoint.smAndUp"
                class="mt-4"
                full-width
            ></v-date-picker>
        </v-row>
    </v-container>
</template>

<script>
    export default {
        data: () => ({
            date: new Date().toISOString().substr(0, 10)
        })
    }
</script>
