<template>
    <v-row
        align="center"
        justify="space-around"
    >
        <v-date-picker
            v-model="picker"
            flat
        ></v-date-picker>

        <v-date-picker
            v-model="picker"
            elevation="15"
        ></v-date-picker>
    </v-row>
</template>

<script>
    export default {
        data() {
            return {
                picker: null
            }
        }
    }
</script>
