<template>
    <v-container>
        <v-row justify="space-around">
            <v-date-picker
                v-model="date"
                class="mt-4"
                type="month"
                width="290"
            ></v-date-picker>
            <v-date-picker
                v-model="date"
                :landscape="$vuetify.breakpoint.smAndUp"
                class="mt-4"
                full-width
                type="month"
            ></v-date-picker>
        </v-row>
    </v-container>
</template>

<script>
    export default {
        data: () => ({
            date: new Date().toISOString().substr(0, 7)
        })
    }
</script>
