<template>
    <v-row justify="center">
        <v-date-picker
            v-model="months"
            multiple
            type="month"
        ></v-date-picker>
    </v-row>
</template>

<script>
    export default {
        data: () => ({
            months: ['2018-09', '2018-10']
        })
    }
</script>
