<template>
    <v-container class="grey lighten-5">
        <v-row
            class="mb-6"
            no-gutters
        >
            <v-col
                md="6"
                sm="5"
            >
                <v-card
                    class="pa-2"
                    outlined
                    tile
                >
                    .col-sm-5 .col-md-6
                </v-card>
            </v-col>
            <v-col
                md="6"
                offset-md="0"
                offset-sm="2"
                sm="5"
            >
                <v-card
                    class="pa-2"
                    outlined
                    tile
                >
                    .col-sm-5 .offset-sm-2 .col-md-6 .offset-md-0
                </v-card>
            </v-col>
        </v-row>
        <v-row no-gutters>
            <v-col
                lg="6"
                md="5"
                sm="6"
            >
                <v-card
                    class="pa-2"
                    outlined
                    tile
                >
                    .col-sm-6 .col-md-5 .col-lg-6
                </v-card>
            </v-col>
            <v-col
                lg="6"
                md="5"
                offset-lg="0"
                offset-md="2"
                sm="6"
            >
                <v-card
                    class="pa-2"
                    outlined
                    tile
                >
                    .col-sm-6 .col-md-5 .offset-md-2 .col-lg-6 .offset-lg-0
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>
