<template>
    <div class="text-center">
        <v-bottom-sheet v-model="sheet">
            <template v-slot:activator="{ on, attrs }">
                <v-btn
                    v-bind="attrs"
                    v-on="on"
                    color="purple"
                    dark
                >
                    Open In
                </v-btn>
            </template>
            <v-list>
                <v-subheader>Open in</v-subheader>
                <v-list-item
                    v-for="tile in tiles"
                    :key="tile.title"
                    @click="sheet = false"
                >
                    <v-list-item-avatar>
                        <v-avatar size="32px" tile>
                            <img
                                :alt="tile.title"
                                :src="`/images/demo/${tile.img}`"
                            >
                        </v-avatar>
                    </v-list-item-avatar>
                    <v-list-item-title>{{ tile.title }}</v-list-item-title>
                </v-list-item>
            </v-list>
        </v-bottom-sheet>
    </div>
</template>

<script>
    export default {
        data: () => ({
            sheet: false,
            tiles: [
                {img: 'keep.png', title: 'Keep'},
                {img: 'inbox.png', title: 'Inbox'},
                {img: 'hangouts.png', title: 'Hangouts'},
                {img: 'messenger.png', title: 'Messenger'},
                {img: 'google.png', title: 'Google+'}
            ]
        })
    }
</script>
