<template>
    <div>
        <v-switch v-model="showMessages" label="Show messages"></v-switch>
        <v-input :messages="messages" hint="I am hint" persistent-hint>Input</v-input>
    </div>
</template>

<script>
    export default {
        data: () => ({
            showMessages: false
        }),

        computed: {
            messages() {
                return this.showMessages ? ['Message'] : undefined
            }
        }
    }
</script>
