<template>
    <div>
        <v-btn
            block
            class="mb-3"
            color="primary"
            large
            @click="$emit('open-compose')"
        >{{ $t('todo.addTask') }}
        </v-btn>

        <v-list class="mt-2 pa-0" nav>
            <v-list-item active-class="primary--text" link to="/apps/todo/tasks">
                <v-list-item-icon>
                    <v-icon small>mdi-checkbox-marked-circle-outline</v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                    <v-list-item-title>{{ $t('todo.tasks') }}</v-list-item-title>
                </v-list-item-content>

                <v-list-item-action v-if="incompleteTasks.length > 0">
                    <v-badge :content="incompleteTasks.length" class="font-weight-bold" color="primary" inline>
                    </v-badge>
                </v-list-item-action>
            </v-list-item>

            <v-list-item active-class="primary--text" link to="/apps/todo/completed">
                <v-list-item-icon>
                    <v-icon small>mdi-check</v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                    <v-list-item-title>{{ $t('todo.completed') }}</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </v-list>

        <v-list class="mt-2 pa-0" dense nav>
            <div class="overline pa-1 mt-2">{{ $t('todo.labels') }}</div>

            <v-list-item
                v-for="label in labels"
                :key="label.id"
                :to="`/apps/todo/label/${label.id}`"
                active-class="primary--text"
                exact
                link
            >
                <v-list-item-icon>
                    <v-icon :color="label.color" small>mdi-label-outline</v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                    <v-list-item-title>{{ label.title }}</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </v-list>
    </div>
</template>

<script>
    import {mapGetters, mapState} from 'vuex'

    /*
    |---------------------------------------------------------------------
    | TODO Menu Component
    |---------------------------------------------------------------------
    |
    | TODO application navigation
    |
    */
    export default {
        computed: {
            ...mapState('todo-app', ['labels']),
            ...mapGetters('todo-app', ['incompleteTasks'])
        }
    }
</script>
