<template>
    <v-card flat>
        <v-card-text>
            <v-container fluid>
                <v-row>
                    <v-col cols="12" md="4" sm="4">
                        <v-switch
                            v-model="ex11"
                            color="red"
                            hide-details
                            label="red"
                            value="red"
                        ></v-switch>
                        <v-switch
                            v-model="ex11"
                            color="red darken-3"
                            hide-details
                            label="red darken-3"
                            value="red darken-3"
                        ></v-switch>
                    </v-col>
                    <v-col cols="12" md="4" sm="4">
                        <v-switch
                            v-model="ex11"
                            color="indigo"
                            hide-details
                            label="indigo"
                            value="indigo"
                        ></v-switch>
                        <v-switch
                            v-model="ex11"
                            color="indigo darken-3"
                            hide-details
                            label="indigo darken-3"
                            value="indigo darken-3"
                        ></v-switch>
                    </v-col>
                    <v-col cols="12" md="4" sm="4">
                        <v-switch
                            v-model="ex11"
                            color="orange"
                            hide-details
                            label="orange"
                            value="orange"
                        ></v-switch>
                        <v-switch
                            v-model="ex11"
                            color="orange darken-3"
                            hide-details
                            label="orange darken-3"
                            value="orange darken-3"
                        ></v-switch>
                    </v-col>
                </v-row>

                <v-row class="mt-12">
                    <v-col cols="12" md="4" sm="4">
                        <v-switch
                            v-model="ex11"
                            color="primary"
                            hide-details
                            label="primary"
                            value="primary"
                        ></v-switch>
                        <v-switch
                            v-model="ex11"
                            color="secondary"
                            hide-details
                            label="secondary"
                            value="secondary"
                        ></v-switch>
                    </v-col>
                    <v-col cols="12" md="4" sm="4">
                        <v-switch
                            v-model="ex11"
                            color="success"
                            hide-details
                            label="success"
                            value="success"
                        ></v-switch>
                        <v-switch
                            v-model="ex11"
                            color="info"
                            hide-details
                            label="info"
                            value="info"
                        ></v-switch>
                    </v-col>
                    <v-col cols="12" md="4" sm="4">
                        <v-switch
                            v-model="ex11"
                            color="warning"
                            hide-details
                            label="warning"
                            value="warning"
                        ></v-switch>
                        <v-switch
                            v-model="ex11"
                            color="error"
                            hide-details
                            label="error"
                            value="error"
                        ></v-switch>
                    </v-col>
                </v-row>
            </v-container>
        </v-card-text>
    </v-card>
</template>

<script>
    export default {
        data() {
            return {
                ex11: ['red', 'indigo', 'orange', 'primary', 'secondary', 'success', 'info', 'warning', 'error', 'red darken-3', 'indigo darken-3', 'orange darken-3']
            }
        }
    }
</script>
