<template>
    <div class="text-center">
        <v-btn
            color="red darken-2"
            dark
            @click="snackbar = true"
        >
            Open Snackbar
        </v-btn>

        <v-snackbar
            v-model="snackbar"
            :multi-line="multiLine"
        >
            {{ text }}

            <template v-slot:action="{ attrs }">
                <v-btn
                    v-bind="attrs"
                    color="red"
                    text
                    @click="snackbar = false"
                >
                    Close
                </v-btn>
            </template>
        </v-snackbar>
    </div>
</template>

<script>
    export default {
        data: () => ({
            multiLine: true,
            snackbar: false,
            text: 'I\'m a multi-line snackbar.'
        })
    }
</script>
