<template>
    <div class="text-center">
        <v-btn
            color="orange darken-2"
            dark
            @click="snackbar = true"
        >
            Open Snackbar
        </v-btn>

        <v-snackbar
            v-model="snackbar"
            :timeout="timeout"
        >
            {{ text }}

            <template v-slot:action="{ attrs }">
                <v-btn
                    v-bind="attrs"
                    color="blue"
                    text
                    @click="snackbar = false"
                >
                    Close
                </v-btn>
            </template>
        </v-snackbar>
    </div>
</template>

<script>
    export default {
        data: () => ({
            snackbar: false,
            text: 'My timeout is set to 2000.',
            timeout: 2000
        })
    }
</script>
