<template>
    <div>
        <v-subheader>Lights out (light)</v-subheader>
        <v-card height="200px" img="/images/demo/cards/layout.svg">
            <v-system-bar color="primary" lights-out>
                <v-spacer></v-spacer>
                <v-icon>mdi-wifi-strength-4</v-icon>
                <v-icon>mdi-signal-cellular-outline</v-icon>
                <v-icon>mdi-battery</v-icon>
                <span>12:30</span>
            </v-system-bar>
        </v-card>
        <v-subheader>Lights out (dark)</v-subheader>
        <v-card height="200px" img="/images/demo/cards/layout.svg">
            <v-system-bar color="primary" dark lights-out>
                <v-spacer></v-spacer>
                <v-icon>mdi-wifi-strength-4</v-icon>
                <v-icon>mdi-signal-cellular-outline</v-icon>
                <v-icon>mdi-battery</v-icon>
                <span>12:30</span>
            </v-system-bar>
        </v-card>
    </div>
</template>
