<template>
    <div>
        <v-system-bar dark window>
            <v-icon>mdi-message</v-icon>
            <span>10 unread messages</span>
            <v-spacer></v-spacer>
            <v-icon>mdi-minus</v-icon>
            <v-icon>mdi-checkbox-blank-outline</v-icon>
            <v-icon>mdi-close</v-icon>
        </v-system-bar>
    </div>
</template>
