<template>
    <v-container class="grey lighten-5">
        <v-row no-gutters>
            <v-col
                cols="12"
                md="8"
                sm="6"
            >
                <v-card
                    class="pa-2"
                    outlined
                    tile
                >
                    .col-12 .col-sm-6 .col-md-8
                </v-card>
            </v-col>
            <v-col
                cols="6"
                md="4"
            >
                <v-card
                    class="pa-2"
                    outlined
                    tile
                >
                    .col-6 .col-md-4
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>
