<template>
    <div>
        <v-file-input chips label="File input w/ chips" multiple></v-file-input>
        <v-file-input label="File input w/ small chips" multiple small-chips></v-file-input>
    </div>
</template>
