<template>
    <v-card class="e4">
        <v-responsive
            :style="{ background: `rgb(${red}, ${green}, ${blue})` }"
            height="300px"
        ></v-responsive>

        <v-card-text>
            <v-container fluid>
                <v-row>
                    <v-col cols="12">
                        <v-slider
                            v-model="red"
                            :max="255"
                            class="align-center"
                            label="R"
                        >
                            <template v-slot:append>
                                <v-text-field
                                    v-model="red"
                                    class="mt-0 pt-0"
                                    style="width: 60px"
                                    type="number"
                                ></v-text-field>
                            </template>
                        </v-slider>
                    </v-col>

                    <v-col cols="12">
                        <v-slider
                            v-model="green"
                            :max="255"
                            class="align-center"
                            label="G"
                        >
                            <template v-slot:append>
                                <v-text-field
                                    v-model="green"
                                    class="mt-0 pt-0"
                                    style="width: 60px"
                                    type="number"
                                ></v-text-field>
                            </template>
                        </v-slider>
                    </v-col>

                    <v-col cols="12">
                        <v-slider
                            v-model="blue"
                            :max="255"
                            class="align-center"
                            label="B"
                        >
                            <template v-slot:append>
                                <v-text-field
                                    v-model="blue"
                                    class="mt-0 pt-0"
                                    style="width: 60px"
                                    type="number"
                                ></v-text-field>
                            </template>
                        </v-slider>
                    </v-col>
                </v-row>
            </v-container>
        </v-card-text>
    </v-card>
</template>

<script>
    export default {
        data() {
            return {
                red: 64,
                green: 128,
                blue: 0
            }
        }
    }
</script>

<style scoped>
    .e4 {
        width: 400px;
        margin: auto;
    }
</style>
