<template>
    <v-container fluid>
        <v-row>
            <v-col cols="12">
                <v-slider
                    inverse-label
                    label="Inverse label"
                    value="30"
                ></v-slider>
            </v-col>
        </v-row>
    </v-container>
</template>
