<template>
    <v-container fluid>
        <v-row>
            <v-col cols="12">
                <v-slider
                    label="Readonly"
                    readonly
                    value="30"
                ></v-slider>
            </v-col>
        </v-row>
    </v-container>
</template>
