<template>
    <v-container>
        <v-row>
            <v-slider
                v-model="value"
                label="Regular"
                vertical
            ></v-slider>
            <v-range-slider
                v-model="value2"
                label="Range"
                vertical
            ></v-range-slider>
        </v-row>
    </v-container>
</template>

<script>
    export default {
        data() {
            return {
                value: 10,
                value2: [20, 40]
            }
        }
    }
</script>
