<template>
    <v-container>
        <v-overflow-btn
            :items="items"
            class="my-2"
            dense
            label="Overflow Btn - Dense"
        ></v-overflow-btn>
    </v-container>
</template>

<script>
    export default {
        data: () => ({
            items: ['Arial', 'Calibri', 'Courier', 'Verdana']
        })
    }
</script>
