<template>
    <v-container id="dropdown-example-3">
        <v-overflow-btn
            :items="dropdown_edit"
            class="my-2"
            editable
            item-value="text"
            label="Overflow Btn w/ editable"
        ></v-overflow-btn>
    </v-container>
</template>

<script>
    export default {
        data: () => ({
            dropdown_edit: [
                {text: '100%'},
                {text: '75%'},
                {text: '50%'},
                {text: '25%'},
                {text: '0%'}
            ]
        })
    }
</script>
