<template>
    <v-container id="dropdown-example-1">
        <v-overflow-btn
            :items="dropdown_font"
            class="my-2"
            label="Overflow Btn w/ readonly"
            readonly
            target="#dropdown-example-1"
        ></v-overflow-btn>
    </v-container>
</template>

<script>
    export default {
        data: () => ({
            dropdown_font: ['Arial', 'Calibri', 'Courier', 'Verdana']
        })
    }
</script>
