<template>
    <ui-demo :snippets="snippets" title="Floating Action Buttons">
        <div class="mt-2">Please checkout the <a class="font-weight-bold" href="https://vuetifyjs.com/components/floating-action-buttons"
                                                 target="_blank">Full Documentation</a></div>
    </ui-demo>
</template>

<script>
    import LateralScreensSnippet from '!!raw-loader!./_examples/floating-action-buttons/complex/lateral-screens.vue'
    import SpeedDialSnippet from '!!raw-loader!./_examples/floating-action-buttons/intermediate/speed-dial.vue'
    import DisplayAnimationSnippet from '!!raw-loader!./_examples/floating-action-buttons/simple/display-animation.vue'
    import SmallSnippet from '!!raw-loader!./_examples/floating-action-buttons/simple/small.vue'

    // Snippets
    import UsageSnippet from '!!raw-loader!./_examples/floating-action-buttons/usage.vue'
    import UiDemo from '~/components/demo/UIDemo'

    export default {
        components: {
            UiDemo
        },
        data: () => ({
            snippets: [
                {
                    title: 'Usage',
                    snippet: UsageSnippet
                },
                {
                    title: 'Display Animation',
                    snippet: DisplayAnimationSnippet
                },
                {
                    title: 'Small',
                    snippet: SmallSnippet
                },
                {
                    title: 'Speed Dial',
                    snippet: SpeedDialSnippet
                },
                {
                    title: 'Lateral Screens',
                    snippet: LateralScreensSnippet
                }
            ]
        })
    }
</script>
