<template>
    <ui-demo :snippets="snippets" title="List Item Groups">
        <div class="mt-2">Please checkout the <a class="font-weight-bold" href="https://vuetifyjs.com/components/list-item-groups" target="_blank">Full
            Documentation</a></div>
    </ui-demo>
</template>

<script>
    import SelectionControlsSnippet from '!!raw-loader!./_examples/list-item-groups/intermediate/selection-controls.vue'
    import ActiveClassSnippet from '!!raw-loader!./_examples/list-item-groups/simple/active-class.vue'
    import FlatSnippet from '!!raw-loader!./_examples/list-item-groups/simple/flat.vue'
    import MandatorySnippet from '!!raw-loader!./_examples/list-item-groups/simple/mandatory.vue'
    import MultipleSnippet from '!!raw-loader!./_examples/list-item-groups/simple/multiple.vue'

    // Snippets
    import UsageSnippet from '!!raw-loader!./_examples/list-item-groups/usage.vue'
    import UiDemo from '~/components/demo/UIDemo'

    export default {
        components: {
            UiDemo
        },
        data: () => ({
            snippets: [
                {
                    title: 'Usage',
                    snippet: UsageSnippet
                },
                {
                    title: 'Active Class',
                    snippet: ActiveClassSnippet
                },
                {
                    title: 'Flat',
                    snippet: FlatSnippet
                },
                {
                    title: 'Mandatory',
                    snippet: MandatorySnippet
                },
                {
                    title: 'Multiple',
                    snippet: MultipleSnippet
                },
                {
                    title: 'Selection Controls',
                    snippet: SelectionControlsSnippet
                }
            ]
        })
    }
</script>
