<template>
    <v-card
        class="mx-auto"
        max-width="500"
    >
        <v-card
            dark
            flat
        >
            <v-btn
                absolute
                bottom
                color="pink"
                fab
                right
            >
                <v-icon>mdi-plus</v-icon>
            </v-btn>
            <v-card-title class="pa-2 purple lighten-3">
                <v-btn icon>
                    <v-icon>mdi-menu</v-icon>
                </v-btn>
                <h3 class="title font-weight-light text-center grow">Timeline</h3>
                <v-avatar>
                    <v-img src="/images/avatars/avatar5.svg"></v-img>
                </v-avatar>
            </v-card-title>
            <v-img
                gradient="to top, rgba(0,0,0,.44), rgba(0,0,0,.44)"
                src="/images/demo/cards/desert.jpg"
            >
            </v-img>
        </v-card>
        <v-card-text class="py-0">
            <v-timeline
                align-top
                dense
            >
                <v-timeline-item
                    color="pink"
                    small
                >
                    <v-row class="pt-1">
                        <v-col cols="3">
                            <strong>5pm</strong>
                        </v-col>
                        <v-col>
                            <strong>New Icon</strong>
                            <div class="caption">Mobile App</div>
                        </v-col>
                    </v-row>
                </v-timeline-item>

                <v-timeline-item
                    color="teal lighten-3"
                    small
                >
                    <v-row class="pt-1">
                        <v-col cols="3">
                            <strong>3-4pm</strong>
                        </v-col>
                        <v-col>
                            <strong>Design Stand Up</strong>
                            <div class="caption mb-2">Hangouts</div>
                            <v-avatar>
                                <v-img
                                    src="/images/avatars/avatar1.svg"
                                ></v-img>
                            </v-avatar>
                            <v-avatar>

                                <v-img
                                    src="/images/avatars/avatar2.svg"
                                ></v-img>
                            </v-avatar>
                            <v-avatar>
                                <v-img
                                    src="/images/avatars/avatar3.svg"
                                ></v-img>
                            </v-avatar>
                        </v-col>
                    </v-row>
                </v-timeline-item>

                <v-timeline-item
                    color="pink"
                    small
                >
                    <v-row class="pt-1">
                        <v-col cols="3">
                            <strong>12pm</strong>
                        </v-col>
                        <v-col>
                            <strong>Lunch break</strong>
                        </v-col>
                    </v-row>
                </v-timeline-item>

                <v-timeline-item
                    color="teal lighten-3"
                    small
                >
                    <v-row class="pt-1">
                        <v-col cols="3">
                            <strong>9-11am</strong>
                        </v-col>
                        <v-col>
                            <strong>Finish Home Screen</strong>
                            <div class="caption">Web App</div>
                        </v-col>
                    </v-row>
                </v-timeline-item>
            </v-timeline>
        </v-card-text>
    </v-card>
</template>
