<template>
    <v-card id="lateral">
        <v-toolbar
            color="indigo"
            dark
            flat
            tabs
        >
            <v-app-bar-nav-icon></v-app-bar-nav-icon>
            <v-toolbar-title>Page title</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn icon>
                <v-icon>mdi-magnify</v-icon>
            </v-btn>
            <v-btn icon>
                <v-icon>mdi-dots-vertical</v-icon>
            </v-btn>
            <template v-slot:extension>
                <v-tabs
                    v-model="tabs"
                    align-with-title
                >
                    <v-tab href="#one">Item One</v-tab>
                    <v-tab href="#two">Item Two</v-tab>
                    <v-tab href="#three">Item Three</v-tab>
                    <v-tabs-slider color="pink"></v-tabs-slider>
                </v-tabs>
            </template>
        </v-toolbar>
        <v-card-text>
            <v-tabs-items v-model="tabs">
                <v-tab-item
                    v-for="content in ['one', 'two', 'three']"
                    :key="content"
                    :value="content"
                >
                    <v-card
                        flat
                        height="200px"
                    >
                    </v-card>
                </v-tab-item>
            </v-tabs-items>
        </v-card-text>
        <v-fab-transition>
            <v-btn
                :key="activeFab.icon"
                :color="activeFab.color"
                bottom
                class="v-btn--example"
                dark
                fab
                large
                left
            >
                <v-icon>{{ activeFab.icon }}</v-icon>
            </v-btn>
        </v-fab-transition>
    </v-card>
</template>

<style>
    /* This is for documentation purposes and will not be needed in your application */
    #lateral .v-btn--example {
        bottom: 0;
        position: absolute;
        margin: 0 0 16px 16px;
    }
</style>

<script>
    export default {
        data: () => ({
            fab: false,
            hidden: false,
            tabs: null
        }),

        computed: {
            activeFab() {
                switch (this.tabs) {
                    case 'one':
                        return {color: 'success', icon: 'share'}
                    case 'two':
                        return {color: 'red', icon: 'edit'}
                    case 'three':
                        return {color: 'green', icon: 'keyboard_arrow_up'}
                    default:
                        return {}
                }
            }
        }
    }
</script>
