<template>
    <email-list :emails="inbox" :is-loading="isLoading" :labels="labels" @refresh="onRefresh"/>
</template>

<script>
    import EmailList from '~/apps/email/components/EmailList'
    import {mapActions, mapState} from 'vuex'

    export default {
        components: {
            EmailList
        },
        computed: {
            ...mapState('email-app', ['inbox', 'isLoading', 'labels'])
        },
        watch: {
            '$route.hash'(val) {
                this.getEmails()
            }
        },
        mounted() {
            this.getEmails()
        },
        methods: {
            ...mapActions('email-app', ['getInbox']),
            onRefresh() {
                this.getEmails()
            },
            getEmails() {
                const {hash} = this.$route
                const label = hash ? hash.replace('#', '') : ''

                this.getInbox(label)
            }
        }
    }
</script>
