<template>
    <email-list :emails="starred" :is-loading="isLoading" :labels="labels" @refresh="onRefresh"/>
</template>

<script>
    import {mapActions, mapState} from 'vuex'
    import EmailList from '~/apps/email/components/EmailList'

    export default {
        components: {
            EmailList
        },
        computed: {
            ...mapState('email-app', ['starred', 'isLoading', 'labels'])
        },
        mounted() {
            this.getStarred()
        },
        methods: {
            ...mapActions('email-app', ['getStarred']),
            onRefresh() {
                this.getStarred()
            }
        }
    }
</script>
