<template>
    <email-list/>
</template>

<script>
    import EmailList from '~/apps/email/components/EmailList'

    export default {
        components: {
            EmailList
        }
    }
</script>
