<template>
    <v-app>
        <!-- Layout component -->
        <component :is="currentLayout" v-if="isRouterLoaded">
            <transition mode="out-in" name="fade">
                <router-view/>
            </transition>
        </component>

        <v-snackbar v-model="toast.show" :color="toast.color" :timeout="toast.timeout" bottom>
            {{ toast.message }}
            <v-btn v-if="toast.timeout === 0" color="white" text @click="toast.show = false">{{ $t('common.close') }}</v-btn>
        </v-snackbar>
    </v-app>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator'
    import {mapState} from 'vuex'
    import config from '~/configs'
    import AuthLayout from '~/layouts/AuthLayout.vue'
    import DefaultLayout from '~/layouts/DefaultLayout.vue'
    import ErrorLayout from '~/layouts/ErrorLayout.vue'
    import SimpleLayout from '~/layouts/SimpleLayout.vue'

    /*
    |---------------------------------------------------------------------
    | Main Application Component
    |---------------------------------------------------------------------
    |
    | In charge of choosing the layout according to the router metadata
    |
    */
    @Component({
        components: {
            DefaultLayout,
            SimpleLayout,
            AuthLayout,
            ErrorLayout
        },
        computed: {
            ...mapState('app', ['toast']),
            isRouterLoaded: function () {
                return this.$route.name !== null

            }
        },
        head: {
            link: [
                // adds config/icons into the html head tag
                ...config.icons.map((href) => ({rel: 'stylesheet', href}))
            ]
        }
    })
    export default class App extends Vue {
        get currentLayout() {
            const layout = this.$route.meta.layout || 'default'
            return layout + 'Layout'
        }

        mounted() {
            this.$store.dispatch('app/initGlobalTheme')
        }
    }
</script>

<style scoped>
    /**
     * Transition animation between pages
     */
    .fade-enter-active,
    .fade-leave-active {
        transition-duration: 0.2s;
        transition-property: opacity;
        transition-timing-function: ease;
    }

    .fade-enter,
    .fade-leave-active {
        opacity: 0;
    }
</style>
