<template>
    <ui-demo :snippets="snippets" title="Boxicons"></ui-demo>
</template>

<script>
    // Snippets
    import BoxiconsSnippet from '!!raw-loader!./_examples/boxicons/boxicons.vue'
    import UiDemo from '~/components/demo/UIDemo'

    export default {
        components: {
            UiDemo
        },
        data: () => ({
            snippets: [
                {
                    title: 'Boxicons',
                    snippet: BoxiconsSnippet
                }
            ]
        })
    }
</script>
