<template>
    <ui-demo :snippets="snippets" title="Font Awesome"></ui-demo>
</template>

<script>
    // Snippets
    import FontAwesomeSnippet from '!!raw-loader!./_examples/font-awesome/font-awesome.vue'
    import UiDemo from '~/components/demo/UIDemo'

    export default {
        components: {
            UiDemo
        },
        data: () => ({
            snippets: [
                {
                    title: 'Font Awesome',
                    snippet: FontAwesomeSnippet
                }
            ]
        })
    }
</script>
