<template>
    <ui-demo :snippets="snippets" title="Material Design"></ui-demo>
</template>

<script>
    // Snippets
    import MaterialDesignSnippet from '!!raw-loader!./_examples/material-design/material-design.vue'
    import UiDemo from '~/components/demo/UIDemo'

    export default {
        components: {
            UiDemo
        },
        data: () => ({
            snippets: [
                {
                    title: 'Material Design',
                    snippet: MaterialDesignSnippet
                }
            ]
        })
    }
</script>
