<template>
    <ui-demo :snippets="snippets" title="Material Design Icons"></ui-demo>
</template>

<script>
    // Snippets
    import MaterialDesignIconsSnippet from '!!raw-loader!./_examples/material-design-icons/material-design-icons.vue'
    import UiDemo from '~/components/demo/UIDemo'

    export default {
        components: {
            UiDemo
        },
        data: () => ({
            snippets: [
                {
                    title: 'Material Design Icons',
                    snippet: MaterialDesignIconsSnippet
                }
            ]
        })
    }
</script>
