<template>
    <ui-demo :snippets="snippets" title="Usage"></ui-demo>
</template>

<script>
    import ButtonsSnippet from '!!raw-loader!./_examples/usage/intermediate/buttons.vue'
    import ClickableSnippet from '!!raw-loader!./_examples/usage/intermediate/clickable.vue'

    // Snippets
    import ColorSnippet from '!!raw-loader!./_examples/usage/simple/color.vue'
    import UiDemo from '~/components/demo/UIDemo'

    export default {
        components: {
            UiDemo
        },
        data: () => ({
            snippets: [
                {
                    title: 'Color',
                    snippet: ColorSnippet
                },
                {
                    title: 'Buttons',
                    snippet: ButtonsSnippet
                },
                {
                    title: 'Clickable',
                    snippet: ClickableSnippet
                }
            ]
        })
    }
</script>
