<template>
    <v-container fluid>
        <v-row>
            <v-col cols="12" md="6" sm="12">
                <v-card>
                    <v-toolbar>
                        <v-app-bar-nav-icon></v-app-bar-nav-icon>
                    </v-toolbar>
                    <v-card-text class="grey lighten-5" style="height: 300px;"></v-card-text>
                    <v-card-text style="height: 100px; position: relative">
                        <v-btn
                            absolute
                            color="pink"
                            dark
                            fab
                            right
                            top
                        >
                            <v-icon>mdi-plus</v-icon>
                        </v-btn>
                    </v-card-text>
                </v-card>
            </v-col>
            <v-col cols="12" md="6" sm="12">
                <v-card>
                    <v-toolbar extended>
                        <v-app-bar-nav-icon></v-app-bar-nav-icon>
                        <template v-slot:extension>
                            <v-btn
                                absolute
                                bottom
                                color="pink"
                                dark
                                fab
                                left
                                small
                            >
                                <v-icon>mdi-plus</v-icon>
                            </v-btn>
                        </template>
                    </v-toolbar>
                    <v-card-text class="grey lighten-5" style="height: 236px;"></v-card-text>
                    <v-card-text style="height: 100px; position: relative"></v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>
