<template>
    <v-form>
        <v-container>
            <v-row>

                <v-col cols="12" sm="6">
                    <v-text-field
                        v-model="title"
                        :rules="rules"
                        counter="25"
                        hint="This field uses counter prop"
                        label="Regular"
                    ></v-text-field>
                </v-col>

                <v-col cols="12" sm="6">
                    <v-text-field
                        v-model="description"
                        :rules="rules"
                        counter
                        hint="This field uses maxlength attribute"
                        label="Limit exceeded"
                        maxlength="25"
                    ></v-text-field>
                </v-col>

                <v-col cols="12" sm="6">
                    <v-text-field
                        v-model="title"
                        :rules="rules"
                        counter="25"
                        filled
                        label="Filled"
                    ></v-text-field>
                </v-col>

                <v-col cols="12" sm="6">
                    <v-text-field
                        v-model="title"
                        :rules="rules"
                        counter="25"
                        label="Outlined"
                        outlined
                    ></v-text-field>
                </v-col>

            </v-row>
        </v-container>
    </v-form>
</template>

<script>
    export default {
        data() {
            return {
                title: 'Preliminary report',
                description: 'California is a state in the western United States',
                rules: [(v) => v.length <= 25 || 'Max 25 characters']
            }
        }
    }
</script>
