<template>
    <v-form>
        <v-container>
            <v-row>

                <v-col cols="12" sm="6">
                    <v-text-field
                        v-model="message1"
                        clearable
                        label="Regular"
                    ></v-text-field>
                </v-col>

                <v-col cols="12" sm="6">
                    <v-text-field
                        v-model="message2"
                        clearable
                        label="Solo"
                        solo
                    ></v-text-field>
                </v-col>

                <v-col cols="12" sm="6">
                    <v-text-field
                        v-model="message3"
                        clearable
                        filled
                        label="Filled"
                    ></v-text-field>
                </v-col>

                <v-col cols="12" sm="6">
                    <v-text-field
                        v-model="message4"
                        clearable
                        label="Outlined"
                        outlined
                    ></v-text-field>
                </v-col>

            </v-row>
        </v-container>
    </v-form>
</template>

<script>
    export default {
        data() {
            return {
                message1: 'Hey!',
                message2: 'Hey!',
                message3: 'Hey!',
                message4: 'Hey!'
            }
        }
    }
</script>
