<template>
    <v-form>
        <v-container>
            <v-row>

                <v-col cols="12" sm="6">
                    <v-text-field
                        disabled
                        label="Regular"
                        value="John Doe"
                    ></v-text-field>
                </v-col>

                <v-col cols="12" sm="6">
                    <v-text-field
                        label="Regular"
                        readonly
                        value="John Doe"
                    ></v-text-field>
                </v-col>

                <v-col cols="12" sm="6">
                    <v-text-field
                        disabled
                        label="Solo"
                        solo
                        value="John Doe"
                    ></v-text-field>
                </v-col>

                <v-col cols="12" sm="6">
                    <v-text-field
                        label="Solo"
                        readonly
                        solo
                        value="John Doe"
                    ></v-text-field>
                </v-col>

                <v-col cols="12" sm="6">
                    <v-text-field
                        disabled
                        filled
                        label="Filled"
                        value="John Doe"
                    ></v-text-field>
                </v-col>

                <v-col cols="12" sm="6">
                    <v-text-field
                        filled
                        label="Filled"
                        readonly
                        value="John Doe"
                    ></v-text-field>
                </v-col>

                <v-col cols="12" sm="6">
                    <v-text-field
                        disabled
                        label="Outlined"
                        outlined
                        value="John Doe"
                    ></v-text-field>
                </v-col>

                <v-col cols="12" sm="6">
                    <v-text-field
                        label="Outlined"
                        outlined
                        readonly
                        value="John Doe"
                    ></v-text-field>
                </v-col>

            </v-row>
        </v-container>
    </v-form>
</template>
