<template>
    <v-form>
        <v-container>
            <v-row>

                <v-col cols="12" sm="6">
                    <v-text-field
                        hint="For example, flowers or used cars"
                        label="Your product or service"
                        value="Grocery delivery"
                    ></v-text-field>
                </v-col>

                <v-col cols="12" sm="6">
                    <v-text-field
                        hint="www.example.com/page"
                        label="Your landing page"
                        persistent-hint
                    ></v-text-field>
                </v-col>

                <v-col cols="12" sm="6">
                    <v-text-field
                        filled
                        hint="For example, flowers or used cars"
                        label="Your product or service"
                        value="Grocery delivery"
                    ></v-text-field>
                </v-col>

                <v-col cols="12" sm="6">
                    <v-text-field
                        filled
                        hint="www.example.com/page"
                        label="Your landing page"
                        persistent-hint
                    ></v-text-field>
                </v-col>

                <v-col cols="12" sm="6">
                    <v-text-field
                        hint="For example, flowers or used cars"
                        label="Your product or service"
                        outlined
                        value="Grocery delivery"
                    ></v-text-field>
                </v-col>

                <v-col cols="12" sm="6">
                    <v-text-field
                        hint="www.example.com/page"
                        label="Your landing page"
                        outlined
                        persistent-hint
                    ></v-text-field>
                </v-col>

            </v-row>
        </v-container>
    </v-form>
</template>
