<template>
    <v-form>
        <v-container>
            <v-row>

                <v-col cols="12" sm="6">

                    <v-text-field
                        label="Prepend"
                        prepend-icon="mdi-map-marker"
                    ></v-text-field>

                    <v-text-field
                        label="Prepend inner"
                        prepend-inner-icon="mdi-map-marker"
                    ></v-text-field>

                    <v-text-field
                        append-icon="mdi-map-marker"
                        label="Append"
                    ></v-text-field>

                    <v-text-field
                        append-outer-icon="mdi-map-marker"
                        label="Append outer"
                    ></v-text-field>

                </v-col>

                <v-col cols="12" sm="6">

                    <v-text-field
                        label="Prepend"
                        prepend-icon="mdi-map-marker"
                        solo
                    ></v-text-field>

                    <v-text-field
                        label="Prepend inner"
                        prepend-inner-icon="mdi-map-marker"
                        solo
                    ></v-text-field>

                    <v-text-field
                        append-icon="mdi-map-marker"
                        label="Append"
                        solo
                    ></v-text-field>

                    <v-text-field
                        append-outer-icon="mdi-map-marker"
                        label="Append outer"
                        solo
                    ></v-text-field>

                </v-col>

                <v-col cols="12" sm="6">

                    <v-text-field
                        filled
                        label="Prepend"
                        prepend-icon="mdi-map-marker"
                    ></v-text-field>

                    <v-text-field
                        filled
                        label="Prepend inner"
                        prepend-inner-icon="mdi-map-marker"
                    ></v-text-field>

                    <v-text-field
                        append-icon="mdi-map-marker"
                        filled
                        label="Append"
                    ></v-text-field>

                    <v-text-field
                        append-outer-icon="mdi-map-marker"
                        filled
                        label="Append outer"
                    ></v-text-field>

                </v-col>

                <v-col cols="12" sm="6">

                    <v-text-field
                        label="Prepend"
                        outlined
                        prepend-icon="mdi-map-marker"
                    ></v-text-field>

                    <v-text-field
                        label="Prepend inner"
                        outlined
                        prepend-inner-icon="mdi-map-marker"
                    ></v-text-field>

                    <v-text-field
                        append-icon="mdi-map-marker"
                        label="Append"
                        outlined
                    ></v-text-field>

                    <v-text-field
                        append-outer-icon="mdi-map-marker"
                        label="Append outer"
                        outlined
                    ></v-text-field>

                </v-col>

            </v-row>
        </v-container>
    </v-form>
</template>
