<template>
    <v-form>
        <v-container fluid>
            <v-row>

                <v-col cols="12" sm="6">
                    <v-text-field
                        v-model="password"
                        :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                        :rules="[rules.required, rules.min]"
                        :type="show1 ? 'text' : 'password'"
                        counter
                        hint="At least 8 characters"
                        label="Normal with hint text"
                        name="input-10-1"
                        @click:append="show1 = !show1"
                    ></v-text-field>
                </v-col>

                <v-col cols="12" sm="6">
                    <v-text-field
                        :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"
                        :rules="[rules.required, rules.min]"
                        :type="show2 ? 'text' : 'password'"
                        class="input-group--focused"
                        hint="At least 8 characters"
                        label="Visible"
                        name="input-10-2"
                        value="wqfasds"
                        @click:append="show2 = !show2"
                    ></v-text-field>
                </v-col>

                <v-col cols="12" sm="6">
                    <v-text-field
                        :append-icon="show3 ? 'mdi-eye' : 'mdi-eye-off'"
                        :rules="[rules.required, rules.min]"
                        :type="show3 ? 'text' : 'password'"
                        class="input-group--focused"
                        hint="At least 8 characters"
                        label="Not visible"
                        name="input-10-2"
                        value="wqfasds"
                        @click:append="show3 = !show3"
                    ></v-text-field>
                </v-col>

                <v-col cols="12" sm="6">
                    <v-text-field
                        :append-icon="show4 ? 'mdi-eye' : 'mdi-eye-off'"
                        :rules="[rules.required, rules.emailMatch]"
                        :type="show4 ? 'text' : 'password'"
                        error
                        hint="At least 8 characters"
                        label="Error"
                        name="input-10-2"
                        value="Pa"
                        @click:append="show4 = !show4"
                    ></v-text-field>
                </v-col>

            </v-row>
        </v-container>
    </v-form>
</template>

<script>
    export default {
        data() {
            return {
                show1: false,
                show2: true,
                show3: false,
                show4: false,
                password: 'Password',
                rules: {
                    required: (value) => !!value || 'Required.',
                    min: (v) => v.length >= 8 || 'Min 8 characters',
                    emailMatch: () => ('The email and password you entered don\'t match')
                }
            }
        }
    }
</script>
