<template>
    <v-container fluid>

        <v-row>
            <v-col cols="4">
                <v-subheader>Prefix for dollar currency</v-subheader>
            </v-col>
            <v-col cols="8">
                <v-text-field
                    label="Amount"
                    prefix="$"
                    value="10.00"
                ></v-text-field>
            </v-col>
        </v-row>

        <v-row>
            <v-col cols="4">
                <v-subheader>Suffix for weight</v-subheader>
            </v-col>
            <v-col cols="8">
                <v-text-field
                    label="Weight"
                    suffix="lbs"
                    value="28.00"
                ></v-text-field>
            </v-col>
        </v-row>

        <v-row>
            <v-col cols="4">
                <v-subheader>Suffix for email domain</v-subheader>
            </v-col>
            <v-col cols="8">
                <v-text-field
                    label="Email address"
                    suffix="@gmail.com"
                    value="example"
                ></v-text-field>
            </v-col>
        </v-row>

        <v-row>
            <v-col cols="4">
                <v-subheader>Suffix for time zone</v-subheader>
            </v-col>
            <v-col cols="8">
                <v-text-field
                    label="Label Text"
                    suffix="PST"
                    type="time"
                    value="12:30:00"
                ></v-text-field>
            </v-col>
        </v-row>

    </v-container>
</template>
