<template>
    <div
        v-shortkey="['ctrl', '/']"
        class="d-flex flex-grow-1"
        @shortkey="onKeyup"
    >
        <!-- Navigation -->
        <v-navigation-drawer
            v-model="drawer"
            :dark="globalTheme === 'dark'"
            :light="globalTheme === 'light'"
            :right="$vuetify.rtl"
            app
            class="elevation-1"
            floating
        >
            <!-- Navigation menu info -->
            <template v-slot:prepend>
                <div class="pa-2">
                    <div class="title font-weight-bold text-uppercase primary--text" @click="clickProductName">{{ product.name }}</div>
                    <div class="overline grey--text">{{ product.version }}</div>
                </div>
            </template>

            <!-- Navigation menu -->
            <main-menu :menu="navigation.menu"/>
        </v-navigation-drawer>

        <!-- Toolbar -->
        <v-app-bar
            :color="undefined"
            :dark="globalTheme === 'dark'"
            :light="globalTheme === 'light'"
            app
        >
            <v-card :flat="true" class="flex-grow-1 d-flex pa-0 ma-0">
                <div class="d-flex flex-grow-1 align-center">

                    <!-- search input mobile -->
                    <v-text-field
                        v-if="showSearch"
                        append-icon="mdi-close"
                        autofocus
                        flat
                        hide-details
                        placeholder="Search"
                        prepend-inner-icon="mdi-magnify"
                        solo
                        @click:append="showSearch = false"
                    ></v-text-field>

                    <div v-else class="d-flex flex-grow-1 align-center">
                        <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>

                        <v-spacer class="d-none d-lg-block"></v-spacer>

                        <!-- search input desktop -->
                        <v-text-field
                            ref="search"
                            :placeholder="$t('menu.search')"
                            class="mx-1 hidden-xs-only"
                            dense
                            filled
                            hide-details
                            prepend-inner-icon="mdi-magnify"
                            rounded
                        ></v-text-field>

                        <v-spacer class="d-block d-sm-none"></v-spacer>

                        <v-btn class="d-block d-sm-none" icon @click="showSearch = true">
                            <v-icon>mdi-magnify</v-icon>
                        </v-btn>

                        <!--<toolbar-apps/>-->

<!--                        <div class="mr-1">-->
<!--                            <toolbar-notifications/>-->
<!--                        </div>-->

                        <toolbar-user/>
                    </div>
                </div>
            </v-card>
        </v-app-bar>

        <v-main>
            <v-container class="fill-height">
                <v-layout>
                    <slot></slot>
                </v-layout>
            </v-container>

<!--            <v-footer app inset>-->
<!--                <v-spacer></v-spacer>-->
<!--                <div class="overline">-->
<!--                    Built with-->
<!--                    <v-icon color="pink" small>mdi-heart</v-icon>-->
<!--                </div>-->
<!--            </v-footer>-->
        </v-main>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator'
    import {mapState} from 'vuex'
    import MainMenu from '~/components/navigation/MainMenu.vue'
    import ToolbarUser from '~/components/toolbar/ToolbarUser.vue'
    import config from '~/configs'

    @Component({
        components: {
            MainMenu,
            ToolbarUser
        },
        computed: {
            ...mapState('app', ['product', 'globalTheme'])
        }
    })
    export default class DefaultLayout extends Vue {
        drawer = null
        showSearch: boolean = false

        navigation = config.navigation


        get search() {
            return this.$refs.search as any
        }

        onKeyup(e) {
            this.search.focus()
        }

        clickProductName() {
            this.$store.dispatch('app/toggleGlobalTheme')
        }
    }
</script>

<style scoped>
</style>
