<template>
    <v-container fluid>
        <v-row>
            <v-col cols="12" md="6" offset-md="3" sm="12">
                <v-card>
                    <v-toolbar extended>
                        <v-app-bar-nav-icon></v-app-bar-nav-icon>
                        <template v-slot:extension>
                            <v-fab-transition>
                                <v-btn
                                    v-show="!hidden"
                                    absolute
                                    bottom
                                    color="pink"
                                    dark
                                    fab
                                    left
                                    small
                                >
                                    <v-icon>mdi-plus</v-icon>
                                </v-btn>
                            </v-fab-transition>
                        </template>
                    </v-toolbar>
                    <v-card-text class="grey lighten-5 text-center" style="height: 300px;">
                        <v-btn color="primary" @click="hidden = !hidden">
                            {{ hidden ? 'Show' : 'Hide' }}
                        </v-btn>
                    </v-card-text>
                    <v-card-text style="height: 100px; position: relative">
                        <v-fab-transition>
                            <v-btn
                                v-show="!hidden"
                                absolute
                                color="pink"
                                dark
                                fab
                                right
                                top
                            >
                                <v-icon>mdi-plus</v-icon>
                            </v-btn>
                        </v-fab-transition>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    export default {
        data: () => ({
            hidden: false
        })
    }
</script>
