<template>
    <v-row>
        <v-col cols="12" offset-sm="3" sm="6">
            <v-card>
                <v-toolbar color="light-blue" extended light>
                    <v-app-bar-nav-icon></v-app-bar-nav-icon>
                    <v-toolbar-title class="white--text">My files</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-btn icon>
                        <v-icon>mdi-magnify</v-icon>
                    </v-btn>
                    <v-btn icon>
                        <v-icon>mdi-view-module</v-icon>
                    </v-btn>
                    <template v-slot:extension>
                        <v-btn
                            absolute
                            bottom
                            color="cyan accent-2"
                            fab
                            left
                            @click="dialog = !dialog"
                        >
                            <v-icon>mdi-plus</v-icon>
                        </v-btn>
                    </template>
                </v-toolbar>
                <v-list subheader two-line>
                    <v-subheader inset>Folders</v-subheader>

                    <v-list-item v-for="item in items" :key="item.title" link>
                        <v-list-item-avatar>
                            <v-icon :class="[item.iconClass]">{{ item.icon }}</v-icon>
                        </v-list-item-avatar>

                        <v-list-item-content>
                            <v-list-item-title>{{ item.title }}</v-list-item-title>

                            <v-list-item-subtitle>{{ item.subtitle }}</v-list-item-subtitle>
                        </v-list-item-content>

                        <v-list-item-action>
                            <v-btn icon>
                                <v-icon color="grey lighten-1">mdi-information</v-icon>
                            </v-btn>
                        </v-list-item-action>
                    </v-list-item>

                    <v-divider inset></v-divider>

                    <v-subheader inset>Files</v-subheader>

                    <v-list-item v-for="item in items2" :key="item.title" link>
                        <v-list-item-avatar>
                            <v-icon :class="[item.iconClass]">{{ item.icon }}</v-icon>
                        </v-list-item-avatar>

                        <v-list-item-content>
                            <v-list-item-title>{{ item.title }}</v-list-item-title>

                            <v-list-item-subtitle>{{ item.subtitle }}</v-list-item-subtitle>
                        </v-list-item-content>

                        <v-list-item-action>
                            <v-btn icon ripple>
                                <v-icon color="grey lighten-1">mdi-information</v-icon>
                            </v-btn>
                        </v-list-item-action>
                    </v-list-item>
                </v-list>

                <v-dialog v-model="dialog" max-width="500px">
                    <v-card>
                        <v-card-text>
                            <v-text-field label="File name"></v-text-field>

                            <small class="grey--text">* This doesn't actually save.</small>
                        </v-card-text>

                        <v-card-actions>
                            <v-spacer></v-spacer>

                            <v-btn color="primary" text @click="dialog = false">Submit</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-card>
        </v-col>
    </v-row>
</template>

<script>
    export default {
        data() {
            return {
                dialog: false,
                items: [
                    {icon: 'folder', iconClass: 'grey lighten-1 white--text', title: 'Photos', subtitle: 'Jan 9, 2014'},
                    {icon: 'folder', iconClass: 'grey lighten-1 white--text', title: 'Recipes', subtitle: 'Jan 17, 2014'},
                    {icon: 'folder', iconClass: 'grey lighten-1 white--text', title: 'Work', subtitle: 'Jan 28, 2014'}
                ],
                items2: [
                    {icon: 'assignment', iconClass: 'blue white--text', title: 'Vacation itinerary', subtitle: 'Jan 20, 2014'},
                    {icon: 'call_to_action', iconClass: 'amber white--text', title: 'Kitchen remodel', subtitle: 'Jan 10, 2014'}
                ]
            }
        }
    }
</script>
