<template>
    <div class="d-flex flex-column flex-grow-1">
        <div class="d-flex align-center py-3">
            <div>
                <div class="display-1">Users</div>
                <v-breadcrumbs :items="breadcrumbs" class="pa-0 py-2"></v-breadcrumbs>
            </div>
            <v-spacer></v-spacer>
            <v-btn color="primary">
                Create User
            </v-btn>
        </div>

        <v-card>
            <!-- users list -->
            <v-row class="pa-2 align-center" dense>
                <v-col cols="6">
                    <v-menu left offset-y>
                        <template v-slot:activator="{ on }">
                            <transition mode="out-in" name="slide-fade">
                                <v-btn v-show="selectedUsers.length > 0" v-on="on">
                                    Actions
                                    <v-icon right>mdi-menu-down</v-icon>
                                </v-btn>
                            </transition>
                        </template>
                        <v-list dense>
                            <v-list-item @click>
                                <v-list-item-title>Verify</v-list-item-title>
                            </v-list-item>
                            <v-list-item @click>
                                <v-list-item-title>Disable</v-list-item-title>
                            </v-list-item>
                            <v-divider></v-divider>
                            <v-list-item @click>
                                <v-list-item-title>Delete</v-list-item-title>
                            </v-list-item>
                        </v-list>
                    </v-menu>

                </v-col>
                <v-col class="d-flex text-right align-center" cols="6">
                    <v-text-field
                        v-model="searchQuery"
                        append-icon="mdi-magnify"
                        class="flex-grow-1 mr-md-2"
                        clearable
                        dense
                        hide-details
                        placeholder="e.g. filter for id, email, name, etc"
                        solo
                        @keyup.enter="searchUser(searchQuery)"
                    ></v-text-field>
                    <v-btn
                        :loading="isLoading"
                        class="ml-2"
                        icon
                        small
                        @click
                    >
                        <v-icon>mdi-refresh</v-icon>
                    </v-btn>
                </v-col>
            </v-row>

            <v-data-table
                v-model="selectedUsers"
                :headers="headers"
                :items="users"
                :search="searchQuery"
                class="flex-grow-1"
                show-select
            >
                <template v-slot:item.id="{ item }">
                    <div class="font-weight-bold">#
                        <copy-label :text="item.id + ''"/>
                    </div>
                </template>

                <template v-slot:item.email="{ item }">
                    <div class="d-flex align-center py-1">
                        <v-avatar class="elevation-1 grey lighten-3" size="32">
                            <v-img :src="item.avatar"/>
                        </v-avatar>
                        <div class="ml-1 caption font-weight-bold">
                            <copy-label :text="item.email"/>
                        </div>
                    </div>
                </template>

                <template v-slot:item.verified="{ item }">
                    <v-icon v-if="item.verified" color="success" small>
                        mdi-check-circle
                    </v-icon>
                    <v-icon v-else small>
                        mdi-circle-outline
                    </v-icon>
                </template>

                <template v-slot:item.disabled="{ item }">
                    <div>{{ item.disabled.toString() | capitalize }}</div>
                </template>

                <template v-slot:item.role="{ item }">
                    <v-chip
                        :color="item.role === 'ADMIN' ? 'primary' : undefined"
                        class="font-weight-bold"
                        label
                        small
                    >{{ item.role | capitalize }}
                    </v-chip>
                </template>

                <template v-slot:item.created="{ item }">
                    <div>{{ item.created | formatDate('ll') }}</div>
                </template>

                <template v-slot:item.lastSignIn="{ item }">
                    <div>{{ item.lastSignIn | formatDate('lll') }}</div>
                </template>

                <template v-slot:item.action="{ }">
                    <div class="actions">
                        <v-btn icon to="/users/edit">
                            <v-icon>mdi-open-in-new</v-icon>
                        </v-btn>
                    </div>
                </template>
            </v-data-table>
        </v-card>
    </div>
</template>

<script>
    import CopyLabel from '~/components/common/CopyLabel'
    import users from './content/users'

    export default {
        components: {
            CopyLabel
        },
        data() {
            return {
                isLoading: false,
                breadcrumbs: [{
                    text: 'Users',
                    disabled: false,
                    href: '#'
                }, {
                    text: 'List'
                }],

                searchQuery: '',
                selectedUsers: [],
                headers: [
                    {text: 'Id', align: 'left', value: 'id'},
                    {text: 'Email', value: 'email'},
                    {text: 'Verified', value: 'verified'},
                    {text: 'Name', align: 'left', value: 'name'},
                    {text: 'Role', value: 'role'},
                    {text: 'Created', value: 'created'},
                    {text: 'Last SignIn', value: 'lastSignIn'},
                    {text: 'Disabled', value: 'disabled'},
                    {text: '', sortable: false, align: 'right', value: 'action'}
                ],

                users
            }
        },
        watch: {
            selectedUsers(val) {

            }
        },
        methods: {
            searchUser() {
            },
            open() {
            }
        }
    }
</script>

<style lang="scss" scoped>
    .slide-fade-enter-active {
        transition: all 0.3s ease;
    }

    .slide-fade-leave-active {
        transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
    }

    .slide-fade-enter,
    .slide-fade-leave-to {
        transform: translateX(10px);
        opacity: 0;
    }
</style>
