<template>
    <div>
        <v-alert
            v-model="alert"
            border="left"
            close-icon="mdi-delete"
            color="cyan"
            colored-border
            dismissible
            elevation="2"
            icon="mdi-twitter"
        >
            You've got <strong>5</strong> new updates on your timeline!.
        </v-alert>

        <div class="text-center">
            <v-btn
                v-if="!alert"
                dark
                @click="alert = true"
            >
                Reset Alert
            </v-btn>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                alert: true
            }
        }
    }
</script>
