<template>
    <div>
        <v-row
            justify="center"
        >
            <v-btn
                class="ma-2"
                color="primary"
                dark
                @click="dialog = true"
            >
                Open Dialog 1
            </v-btn>
            <v-btn
                class="ma-2"
                color="primary"
                dark
                @click="dialog2 = true"
            >
                Open Dialog 2
            </v-btn>
            <v-btn
                class="ma-2"
                color="primary"
                dark
                @click="dialog3 = true"
            >
                Open Dialog 3
            </v-btn>
            <v-menu
                bottom
                offset-y
            >
                <template v-slot:activator="{ on, attrs }">
                    <v-btn
                        v-bind="attrs"
                        v-on="on"
                        class="ma-2"
                    >A Menu
                    </v-btn>
                </template>
                <v-list>
                    <v-list-item
                        v-for="(item, i) in items"
                        :key="i"
                        @click="() => {}"
                    >
                        <v-list-item-title>{{ item.title }}</v-list-item-title>
                    </v-list-item>
                </v-list>
            </v-menu>
            <v-dialog
                v-model="dialog"
                fullscreen
                hide-overlay
                scrollable
                transition="dialog-bottom-transition"
            >
                <v-card tile>
                    <v-toolbar
                        color="primary"
                        dark
                        flat
                    >
                        <v-btn
                            dark
                            icon
                            @click="dialog = false"
                        >
                            <v-icon>mdi-close</v-icon>
                        </v-btn>
                        <v-toolbar-title>Settings</v-toolbar-title>
                        <v-spacer></v-spacer>
                        <v-toolbar-items>
                            <v-btn
                                dark
                                text
                                @click="dialog = false"
                            >
                                Save
                            </v-btn>
                        </v-toolbar-items>
                        <v-menu
                            bottom
                            offset-y
                            right
                        >
                            <template v-slot:activator="{ on, attrs }">
                                <v-btn
                                    v-bind="attrs"
                                    v-on="on"
                                    dark
                                    icon
                                >
                                    <v-icon>mdi-dots-vertical</v-icon>
                                </v-btn>
                            </template>
                            <v-list>
                                <v-list-item
                                    v-for="(item, i) in items"
                                    :key="i"
                                    @click="() => {}"
                                >
                                    <v-list-item-title>{{ item.title }}</v-list-item-title>
                                </v-list-item>
                            </v-list>
                        </v-menu>
                    </v-toolbar>
                    <v-card-text>
                        <v-btn
                            class="ma-2"
                            color="primary"
                            dark
                            @click="dialog2 = !dialog2"
                        >
                            Open Dialog 2
                        </v-btn>
                        <v-tooltip right>
                            <template v-slot:activator="{ on, attrs }">
                                <v-btn
                                    v-bind="attrs"
                                    v-on="on"
                                    class="ma-2"
                                >Tool Tip Activator
                                </v-btn>
                            </template>
                            Tool Tip
                        </v-tooltip>
                        <v-list
                            subheader
                            three-line
                        >
                            <v-subheader>User Controls</v-subheader>
                            <v-list-item>
                                <v-list-item-content>
                                    <v-list-item-title>Content filtering</v-list-item-title>
                                    <v-list-item-subtitle>Set the content filtering level to restrict apps that can be downloaded
                                    </v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>
                            <v-list-item>
                                <v-list-item-content>
                                    <v-list-item-title>Password</v-list-item-title>
                                    <v-list-item-subtitle>Require password for purchase or use password to restrict purchase</v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>
                        </v-list>
                        <v-divider></v-divider>
                        <v-list
                            subheader
                            three-line
                        >
                            <v-subheader>General</v-subheader>
                            <v-list-item>
                                <v-list-item-action>
                                    <v-checkbox v-model="notifications"></v-checkbox>
                                </v-list-item-action>
                                <v-list-item-content>
                                    <v-list-item-title>Notifications</v-list-item-title>
                                    <v-list-item-subtitle>Notify me about updates to apps or games that I downloaded</v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>
                            <v-list-item>
                                <v-list-item-action>
                                    <v-checkbox v-model="sound"></v-checkbox>
                                </v-list-item-action>
                                <v-list-item-content>
                                    <v-list-item-title>Sound</v-list-item-title>
                                    <v-list-item-subtitle>Auto-update apps at any time. Data charges may apply</v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>
                            <v-list-item>
                                <v-list-item-action>
                                    <v-checkbox v-model="widgets"></v-checkbox>
                                </v-list-item-action>
                                <v-list-item-content>
                                    <v-list-item-title>Auto-add widgets</v-list-item-title>
                                    <v-list-item-subtitle>Automatically add home screen widgets</v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>
                        </v-list>
                    </v-card-text>

                    <div style="flex: 1 1 auto;"></div>
                </v-card>
            </v-dialog>

            <v-dialog
                v-model="dialog2"
                max-width="500px"
            >
                <v-card>
                    <v-card-title>
                        Dialog 2
                    </v-card-title>
                    <v-card-text>
                        <v-btn
                            color="primary"
                            dark
                            @click="dialog3 = !dialog3"
                        >
                            Open Dialog 3
                        </v-btn>
                        <v-select
                            :items="select"
                            item-value="text"
                            label="A Select List"
                        ></v-select>
                    </v-card-text>
                    <v-card-actions>
                        <v-btn
                            color="primary"
                            text
                            @click="dialog2 = false"
                        >
                            Close
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
            <v-dialog
                v-model="dialog3"
                max-width="500px"
            >
                <v-card>
                    <v-card-title>
                        <span>Dialog 3</span>
                        <v-spacer></v-spacer>
                        <v-menu
                            bottom
                            left
                        >
                            <template v-slot:activator="{ on, attrs }">
                                <v-btn
                                    v-bind="attrs"
                                    v-on="on"
                                    icon
                                >
                                    <v-icon>mdi-dots-vertical</v-icon>
                                </v-btn>
                            </template>
                            <v-list>
                                <v-list-item
                                    v-for="(item, i) in items"
                                    :key="i"
                                    @click="() => {}"
                                >
                                    <v-list-item-title>{{ item.title }}</v-list-item-title>
                                </v-list-item>
                            </v-list>
                        </v-menu>
                    </v-card-title>
                    <v-card-actions>
                        <v-btn
                            color="primary"
                            text
                            @click="dialog3 = false"
                        >
                            Close
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-row>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                dialog: false,
                dialog2: false,
                dialog3: false,
                notifications: false,
                sound: true,
                widgets: false,
                items: [
                    {
                        title: 'Click Me'
                    },
                    {
                        title: 'Click Me'
                    },
                    {
                        title: 'Click Me'
                    },
                    {
                        title: 'Click Me 2'
                    }
                ],
                select: [
                    {text: 'State 1'},
                    {text: 'State 2'},
                    {text: 'State 3'},
                    {text: 'State 4'},
                    {text: 'State 5'},
                    {text: 'State 6'},
                    {text: 'State 7'}
                ]
            }
        }
    }
</script>
