<template>
    <v-row
        class="d-flex"
        justify="center"
    >
        <v-menu
            v-model="showMenu"
            absolute
            offset-y
            style="max-width: 600px"
        >
            <template v-slot:activator="{ on, attrs }">
                <v-card
                    v-bind="attrs"
                    v-on="on"
                    class="portrait"
                    height="300"
                    img="/images/demo/cards/girl.jpg"
                    width="600"
                ></v-card>
            </template>

            <v-list>
                <v-list-item
                    v-for="(item, index) in items"
                    :key="index"
                    @click=""
                >
                    <v-list-item-title>{{ item.title }}</v-list-item-title>
                </v-list-item>
            </v-list>
        </v-menu>
    </v-row>
</template>

<script>
    export default {
        data: () => ({
            showMenu: false,
            items: [
                {title: 'Click Me'},
                {title: 'Click Me'},
                {title: 'Click Me'},
                {title: 'Click Me 2'}
            ]
        })
    }
</script>
