<template>
    <v-row justify="space-around">
        <v-menu
            bottom
            origin="center center"
            transition="scale-transition"
        >
            <template v-slot:activator="{ on, attrs }">
                <v-btn
                    v-bind="attrs"
                    v-on="on"
                    color="primary"
                    dark
                >
                    Scale Transition
                </v-btn>
            </template>

            <v-list>
                <v-list-item
                    v-for="(item, i) in items"
                    :key="i"
                    @click=""
                >
                    <v-list-item-title>{{ item.title }}</v-list-item-title>
                </v-list-item>
            </v-list>
        </v-menu>

        <v-menu
            bottom
            right
            transition="slide-x-transition"
        >
            <template v-slot:activator="{ on, attrs }">
                <v-btn
                    v-bind="attrs"
                    v-on="on"
                    class="deep-orange"
                    color="primary"
                    dark
                >
                    Slide X Transition
                </v-btn>
            </template>

            <v-list>
                <v-list-item
                    v-for="(item, i) in items"
                    :key="i"
                    @click=""
                >
                    <v-list-item-title>{{ item.title }}</v-list-item-title>
                </v-list-item>
            </v-list>
        </v-menu>

        <v-menu
            bottom
            transition="slide-y-transition"
        >
            <template v-slot:activator="{ on, attrs }">
                <v-btn
                    v-bind="attrs"
                    v-on="on"
                    class="purple"
                    color="primary"
                    dark
                >
                    Slide Y Transition
                </v-btn>
            </template>
            <v-list>
                <v-list-item
                    v-for="(item, i) in items"
                    :key="i"
                    @click=""
                >
                    <v-list-item-title>{{ item.title }}</v-list-item-title>
                </v-list-item>
            </v-list>
        </v-menu>
    </v-row>
</template>

<script>
    export default {
        data: () => ({
            items: [
                {title: 'Click Me'},
                {title: 'Click Me'},
                {title: 'Click Me'},
                {title: 'Click Me 2'}
            ]
        })
    }
</script>
