<template>
    <div class="text-center">
        <v-menu>
            <template v-slot:activator="{ on: menu, attrs }">
                <v-tooltip bottom>
                    <template v-slot:activator="{ on: tooltip }">
                        <v-btn
                            v-bind="attrs"
                            v-on="{ ...tooltip, ...menu }"
                            color="primary"
                            dark
                        >Dropdown w/ Tooltip
                        </v-btn>
                    </template>
                    <span>Im A ToolTip</span>
                </v-tooltip>
            </template>
            <v-list>
                <v-list-item
                    v-for="(item, index) in items"
                    :key="index"
                    @click=""
                >
                    <v-list-item-title>{{ item.title }}</v-list-item-title>
                </v-list-item>
            </v-list>
        </v-menu>
    </div>
</template>

<script>
    export default {
        data: () => ({
            items: [
                {title: 'Click Me1'},
                {title: 'Click Me2'},
                {title: 'Click Me3'},
                {title: 'Click Me4'}
            ]
        })
    }
</script>
