<template>
    <v-container fluid>
        <v-row align="center">
            <v-col cols="6">
                <v-subheader>Custom items</v-subheader>
            </v-col>

            <v-col cols="6">
                <v-select
                    v-model="select"
                    :hint="`${select.state}, ${select.abbr}`"
                    :items="items"
                    item-text="state"
                    item-value="abbr"
                    label="Select"
                    persistent-hint
                    return-object
                    single-line
                ></v-select>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    export default {
        data() {
            return {
                select: {state: 'Florida', abbr: 'FL'},
                items: [
                    {state: 'Florida', abbr: 'FL'},
                    {state: 'Georgia', abbr: 'GA'},
                    {state: 'Nebraska', abbr: 'NE'},
                    {state: 'California', abbr: 'CA'},
                    {state: 'New York', abbr: 'NY'}
                ]
            }
        }
    }
</script>
