<template>
    <v-container fluid>
        <v-row align="center">
            <v-col cols="6">
                <v-subheader>Prepended icon</v-subheader>
            </v-col>
            <v-col cols="6">
                <v-select
                    v-model="e1"
                    :items="states"
                    hide-details
                    label="Select"
                    menu-props="auto"
                    prepend-icon="map"
                    single-line
                ></v-select>
            </v-col>
            <v-col cols="6">
                <v-subheader>Appended icon</v-subheader>
            </v-col>
            <v-col cols="6">
                <v-select
                    v-model="e2"
                    :items="states"
                    append-outer-icon="map"
                    hide-details
                    label="Select"
                    menu-props="auto"
                    single-line
                ></v-select>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    export default {
        data() {
            return {
                e1: 'Florida',
                e2: 'Texas',
                e3: null,
                e4: null,
                items: [
                    {text: 'State 1'},
                    {text: 'State 2'},
                    {text: 'State 3'},
                    {text: 'State 4'},
                    {text: 'State 5'},
                    {text: 'State 6'},
                    {text: 'State 7'}
                ],
                states: [
                    'Alabama', 'Alaska', 'American Samoa', 'Arizona',
                    'Arkansas', 'California', 'Colorado', 'Connecticut',
                    'Delaware', 'District of Columbia', 'Federated States of Micronesia',
                    'Florida', 'Georgia', 'Guam', 'Hawaii', 'Idaho',
                    'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky',
                    'Louisiana', 'Maine', 'Marshall Islands', 'Maryland',
                    'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
                    'Missouri', 'Montana', 'Nebraska', 'Nevada',
                    'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
                    'North Carolina', 'North Dakota', 'Northern Mariana Islands', 'Ohio',
                    'Oklahoma', 'Oregon', 'Palau', 'Pennsylvania', 'Puerto Rico',
                    'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
                    'Texas', 'Utah', 'Vermont', 'Virgin Island', 'Virginia',
                    'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'
                ]
            }
        }
    }
</script>
