<template>
    <v-container fluid>
        <v-row align="center">
            <v-col cols="12" sm="6">
                <v-subheader v-text="'Multiple with persistent hint'"></v-subheader>
            </v-col>
            <v-col cols="12" sm="6">
                <v-select
                    v-model="e6"
                    :items="states"
                    :menu-props="{ maxHeight: '400' }"
                    hint="Pick your favorite states"
                    label="Select"
                    multiple
                    persistent-hint
                ></v-select>
            </v-col>

            <v-col cols="12" sm="6">
                <v-subheader v-text="'Multiple (Chips) with persistent hint'"></v-subheader>
            </v-col>

            <v-col cols="12" sm="6">
                <v-select
                    v-model="e7"
                    :items="states"
                    chips
                    hint="What are the target regions"
                    label="Select"
                    multiple
                    persistent-hint
                ></v-select>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    export default {
        data() {
            return {
                e6: [],
                e7: [],
                states: [
                    'Alabama', 'Alaska', 'American Samoa', 'Arizona',
                    'Arkansas', 'California', 'Colorado', 'Connecticut',
                    'Delaware', 'District of Columbia', 'Federated States of Micronesia',
                    'Florida', 'Georgia', 'Guam', 'Hawaii', 'Idaho',
                    'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky',
                    'Louisiana', 'Maine', 'Marshall Islands', 'Maryland',
                    'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
                    'Missouri', 'Montana', 'Nebraska', 'Nevada',
                    'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
                    'North Carolina', 'North Dakota', 'Northern Mariana Islands', 'Ohio',
                    'Oklahoma', 'Oregon', 'Palau', 'Pennsylvania', 'Puerto Rico',
                    'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
                    'Texas', 'Utah', 'Vermont', 'Virgin Island', 'Virginia',
                    'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'
                ]
            }
        }
    }
</script>
