<template>
    <v-card class="text-center w-full error-page pa-3">
        <v-img contain max-height="400" src="/images/illustrations/404-illustration.svg"/>
        <div class="display-2 mt-10">How did you get here?</div>
        <div class="mt-3 mb-6">Sorry we can't seem to find the page you're looking for.</div>
        <v-text-field large placeholder="Search website" solo></v-text-field>
        <v-btn block color="primary" large to="/">Send me Back</v-btn>
    </v-card>
</template>

<style>
    .error-page {
        max-width: 500px;
    }
</style>
