<template>
    <v-card class="text-center w-full error-page pa-3">
        <v-img contain max-height="400" src="/images/illustrations/500-illustration.svg"/>
        <div class="display-2 mt-10">OOPS! Something went wrong here</div>
        <div class="mt-3 mb-10">Our experts are working to fix the issue.</div>
        <v-text-field placeholder="Search website" solo></v-text-field>
        <v-btn block color="primary" large to="/">Send me back</v-btn>
    </v-card>
</template>

<style>
    .error-page {
        max-width: 500px;
    }
</style>
